<section class="pure-oh-m-page pure-oh-m-homepage coastal-homepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div id="image-background" class="background" style="background-image:url(../images/temp/home_0000_home_0.jpg)" data-image-src="../images/temp/home_0000_home_0.jpg" >
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="../images/svg/optim_logo_light.svg" alt="Optim Spine Healthcare Logo" class="icon-logo">
                                <a class="search-home-icon" href="#" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search pull-right icon-search"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-lg-7">
                                <div class="accordion">
                                    <div class="accordion-item">
                                        <div class="accordion-heading">
                                            <h2 class="title-home" data-target="#collapse-1">
                                                <span class="arrow-title"><i class="fa fa-angle-right"></i></span>
                                                <a href="#" data-image-src="../images/temp/home_0002_treatments_0.jpg">Our Team</a>
                                            </h2>
                                        </div>
                                        <div id="collapse-1" class="hidden-xs">
                                            <div class="accordion-body">
                                                <p>We built our unique Spine practice to ensure a unified patient experience. We strive to identify your problem and work through a diagnosis in order to complete your successful treatment.</p>
                                                <a href="#" class="more">Learn more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-heading">
                                            <h2 class="title-home" data-target="#collapse-2">
                                                <span class="arrow-title"><i class="fa fa-angle-right"></i></span>
                                                <a href="#" data-image-src="../images/temp/home_0001_what_hurts_0.jpg">Services</a>
                                            </h2>
                                        </div>
                                        <div id="collapse-2" class="hidden-xs">
                                            <div class="accordion-body">
                                                <p>Back and neck pain can stop you from leading a full and active life. The first step towards feeling better is learning what we need to fix.</p>
                                                <a href="#" class="more">Learn more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-heading">
                                            <h2 class="title-home" data-target="#collapse-3">
                                                <span class="arrow-title"><i class="fa fa-angle-right"></i></span>
                                                <a href="#" data-image-src="../images/temp/home_0003_our_practice_1.jpg">Procedures</a>
                                            </h2>
                                        </div>
                                        <div id="collapse-3" class="hidden-xs">
                                            <div class="accordion-body">
                                                <p>Your pain is personal and so are the causes. Your tailored, integrated treatment plan should be personal too.</p>
                                                <a href="#" class="more">Learn more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-heading">
                                            <h2 class="title-home" data-target="#collapse-3">
                                                <span class="arrow-title"><i class="fa fa-angle-right"></i></span>
                                                <a href="#" data-image-src="../images/temp/home_0003_our_practice_1.jpg">Procedures</a>
                                            </h2>
                                        </div>
                                        <div id="collapse-3" class="hidden-xs">
                                            <div class="accordion-body">
                                                <p>Your pain is personal and so are the causes. Your tailored, integrated treatment plan should be personal too.</p>
                                                <a href="#" class="more">Learn more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-heading">
                                            <h2 class="title-home" data-target="#collapse-3">
                                                <span class="arrow-title"><i class="fa fa-angle-right"></i></span>
                                                <a href="#" data-image-src="../images/temp/home_0003_our_practice_1.jpg">Procedures</a>
                                            </h2>
                                        </div>
                                        <div id="collapse-3" class="hidden-xs">
                                            <div class="accordion-body">
                                                <p>Your pain is personal and so are the causes. Your tailored, integrated treatment plan should be personal too.</p>
                                                <a href="#" class="more">Learn more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-sm-4 col-md-8 col-xs-12">
                                    <ul>
                                        <li><a href="#" data-toggle="modal" data-target="#modalAbout" title="">About</a></li>
                                        <li><a href="#">IMAGING.OPTIMHEALTH.COM</a></li>
                                        <li><a href="#">REFERRING PROVIDERS</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-8 col-md-4 col-xs-12 text-right">
                                    <p>*Optim Spine is a collaboration of Optim Orthopedics and the physician-owned Optim Medical Center-Tattnall.</p>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                {{> sidebar-flat }}
            </div>
        </div>
    </div>
</section>