<div class="row pure-oh-m-footer">
	<div class="col-md-12 footer-menu">
			<ul class="menu">
				<li class="first"><a href="#" data-toggle="modal" data-target="#modalAbout" title="">About</a></li>
				<li class="last"><a href="/patient-testimonials" title="">Patient Stories</a></li>
			</ul>
	</div>
</div>