<header class="pure-oh-m-header-dark pure-oh-m-header-white">
	<div class="header-container row">
		<div class="col-lg-5 col-xs-10">
			<a class="logo-optim-spine dinamic-logo" href="#" data-logo="images/optim-spine_logo.png">
				<img src="images/optim-spine_logo.png" alt="" />
			</a>
		</div>
		<div class="col-lg-1 col-lg-push-8 col-xs-2">
			<a class="search-home-icon" href="#" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search pull-right icon-search"></i></a>
		</div>
		<div class="col-lg-6 col-xs-12 col-lg-pull-1">
			<nav>
				<ul>
					<li><a href="#">Who we are</a></li>
					<li><a href="#">What’s Hurting</a></li>
					<li><a href="#">How we can help</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>