<div class="modal fade pure-oh-h-modals pure-oh-m-thanks-modal" id="modalThanksConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalThanksConfirmation">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span data-dismiss="modal" aria-label="Close" class="pull-right close"><i class="fa fa-times"></i></span>
				<h1>Title</h1>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<h2 class="text-center">Thank you!</h2>
					<p class="text-center">lorem ipsum.</p>
					<button data-dismiss="modal">DONE</button>
				</div>
			</div>
		</div>
	</div>
</div>