<div class="modal fade pure-oh-h-modals pure-oh-m-request-appointment" id="modalRequestAppointment" tabindex="-1" role="dialog" aria-labelledby="modalRequestAppointment">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span data-dismiss="modal" aria-label="Close" class="pull-right close"><i class="fa fa-times"></i></span>
				<h1>Request an Appointment</h1>
			</div>
			<div class="modal-body">
				<div class="error-details"></div>
				<form class="webform-client-form webform-client-form-141 has-validation-callback" enctype="multipart/form-data" action="/treatments" method="post" id="webform-client-form-141" accept-charset="UTF-8">
					<div>
						<div class="form-item webform-component webform-component-textfield webform-component--name">
  							<label class="element-invisible" for="edit-submitted-name--2">My Name is<span class="form-required" title="This field is required.">*</span></label>
 							{{!-- <span class="field-prefix">My name is</span> --}}
 							<input required="required" placeholder="your name" type="text" id="edit-submitted-name--2" name="submitted[name]" value="" size="60" maxlength="128" class="form-text required field-name">
						</div>
						<div class="form-item webform-component webform-component-textfield webform-component--condition">
  							<label class="element-invisible" for="edit-submitted-condition">and I would like to request an appointment because<span class="form-required" title="This field is required.">*</span></label>
 							{{!-- <span class="field-prefix">and I would like to request an appointment because</span> --}}
 							<input required="required" placeholder="your condition" type="text" id="edit-submitted-condition" name="submitted[condition]" value="" size="60" maxlength="128" class="form-text required field-condition"> <span class="field-suffix">.</span>
						</div>
						<div class="form-item webform-component webform-component-markup webform-component--markup1">
 							<p><br><br></p>
						</div>
						<div class="form-item webform-component webform-component-textfield webform-component--phone">
  							<label class="element-invisible" for="edit-submitted-phone">You may contact me at<span class="form-required" title="This field is required.">*</span></label>
 							{{!-- <span class="field-prefix">You may contact me at</span> --}}
 							<input required="required" placeholder="phone number*" type="text" id="edit-submitted-phone" name="submitted[phone]" value="" size="60" maxlength="128" class="form-text required field-phone">
						</div>
						<div class="form-item webform-component webform-component-textfield webform-component--email">
							<label class="element-invisible" for="edit-submitted-email--2">Email
						 	or email me at <span class="form-required" title="This field is required.">*</span></label>
						 	<input required="required" placeholder="type your email here*" type="text" id="edit-submitted-email--2" name="submitted[email]" value="" size="60" maxlength="128" class="form-text field-email"> <span class="field-suffix">.</span>
						</div>
						<input type="hidden" name="details[sid]">
						<input type="hidden" name="details[page_num]" value="1">
						<input type="hidden" name="details[page_count]" value="1">
						<input type="hidden" name="details[finished]" value="0">
						<input type="hidden" name="form_build_id" value="form-v4RzCmwzkByUW_AkHhhWMZekX_XV2OrLdfNrX8Q7NCo">
						<input type="hidden" name="form_id" value="webform_client_form_141">
						<div class="form-actions">
							<input class="webform-submit button-primary form-submit btn-submit disabled" type="submit" name="op" value="Submit">
						</div>
					</div>
				</form>
				{{!-- <form action="" role="form" class="form-inline">
				<div class="form-error alert alert-danger col-lg-10 col-lg-offset-1" id="errors"></div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-1">
							<label for="" class="control-label">My name is </label>
							<input type="text" name="name" value="" placeholder="your name*" data-validation="required" data-validation-error-msg="Name field is required."  data-validation-error-msg-container="#errors">
							<label for="">and I would like to request an appointment because </label>
							<input type="text" name="condition" value="" placeholder="your condition*." data-validation="required" data-validation-error-msg="Condition field is required."  data-validation-error-msg-container="#errors">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-1">
							<label for="">You may contact me at </label>
							<input type="text" name="number" value="" placeholder="phone number*" data-validation="required" data-validation-error-msg="Phone field is required."  data-validation-error-msg-container="#errors">
							<label for="">or email me at</label>
							<input type="email" name="email" value="" placeholder="type your email here (optional)." maxlength="128" class="width" data-validation="email" data-validation-error-msg="Invalid email"  data-validation-error-msg-container="#errors">
						</div>
					</div>
					<button class="btn text-center" type="submit" >Submit</button>
				</form> --}}
			</div>
		</div>
	</div>
</div>