<div class="modal fade pure-oh-h-modals pure-oh-m-thanks-subscribing" id="modalThanksSubscribing" tabindex="-1" role="dialog" aria-labelledby="modalThanksSubscribing">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<span data-dismiss="modal" aria-label="Close" class="pull-right close"><i class="fa fa-times"></i></span>
					<h2 class="text-center">Thank you for subscribing</h2>
					<p class="text-center">Morbi sagittis nunc ac pulvinar tempus. Fusce faucibus sem at lobortis dictum. Mauris mollis neque neque, at scelerisque lorem suscipit id.</p>
					<button data-dismiss="modal">DONE</button>
					<div class="col-xs-12 visible-xs">
						{{> sidebar }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>