<div class="modal fade pure-oh-h-modals pure-oh-m-modal-videos" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modalVideos">
	<div class="modal-loader"></div>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<span data-dismiss="modal" aria-label="Close" class="pull-right close"><i class="fa fa-times"></i></span>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<figure class="modal-video">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
							</figure>
							<h2>Optim Interventional Pain Management</h2>
							<p class="video modal-info">Featuring Joseph C. Hegarty, MD, FIPP...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>