<div class="modal fade pure-oh-h-modals pure-oh-m-modal-share" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="modalShare">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<span data-dismiss="modal" aria-label="Close" class="pull-right close"><i class="fa fa-times"></i></span>
				<h2><i class='fa fa-share-square-o'></i> Share</h2>
				{{!-- <h2>Optim Spine</h2> --}}
			</div>
			<div class="modal-body">
				{{> share }}
			</div>
		</div>
	</div>
</div>