<section class="pure-oh-m-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{> header }}
				<div class="row">
					{{> breadcrumb }}
				</div>
				<div id="pure-oh-m-patient-support">
					<h1>Patient Support</h1>
					<p class="description">Lorem ipsum Qui voluptate id eiusmod sit laboris.</p>
					<div class="portal-box">
						<p class="description">Send emails, request appointments, lab results and RX refills from anywhere in the world:</p>
						<a href="#" class="btn">Patient Portal</a>
					</div>
					<div class="cards">
						<div class="row">
							{{> cards/card-patient-support title="Bill Pay" description='For Hospital Services, please select the appropriate site below "Relay Solutions/Patient Compass" or "PatientCo" for making payments based on your date…' }}
							{{> cards/card-patient-support title="HIPAA Policy" description='HIPAA Notice of Privacy Practices Revised 2013 Effective as of April 14, 2003 This notice describes how medical informat...' }}
							{{> cards/card-patient-support title="Patient Financial Policy" description='Payment Policy Overview Thank you for choosing Optim Healthcare. We are committed to the success of your medical…' }}
							{{> cards/card-patient-support title="Patient Forms" description='Optim Health provides detailed forms for our patients that can expedite the transfer of information from the patient to...' }}
							{{> cards/card-patient-support title="Patient Guide" description='Here at Optim Health, our core values dictate that we treat our patients with the respect and dignity they deserve...' }}
							{{> cards/card-patient-support title="Research" description='Mission Statement The mission statement of the Orthopedic Research Foundation is to advance the health and treatment of...' }}
						</div>
					</div>
				</div>
				{{> footer }}
			</div>
			<div class="col-xs-12 visible-xs">
				{{> sidebar }}
			</div>
		</div>
	</div>
</section>