<section class="pure-oh-m-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				{{> header }}
				<div class="row">
					{{> breadcrumb }}
				</div>
				<div id="providers-page">
					<h1>REFERRING PROVIDERS</h1>
					<p class="description">Lorem ipsum Qui voluptate id eiusmod sit laboris.</p>
					<div class="cards">
						<div class="row row-eq-height">
							{{> cards/card-news-events }}
							{{> cards/card-news-events }}
							{{> cards/card-news-events }}
							{{> cards/card-news-events }}
							{{> cards/card-news-events }}
							{{> cards/card-news-events }}
						</div>
					</div>
				</div>
				{{> footer }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				{{> sidebar-flat }}
			</div>
		</div>
	</div>
</section>