<div class="pure-oh-m-locations-search">
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-12">
						<label for="search" class="control-label sr-only">Search</label>
						<input type="search" class="search-input" id="search-locations" placeholder="Search" data-show-element="panel-heading">
					</div>
				</div>
				<div class="views-exposed-widget views-submit-button">
					<i class="fa fa-search icon-search"></i>
				</div>
			</form>
		</div>
	</div>
</div>