<section class="pure-oh-m-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				{{> header }}
				<div class="pure-oh-m-search-result">
					<div class="result-list">
						<ul>
							<li>
								<h2>Testimonies</h2>
								<div class="view-content">
									<div class="text-content"
										<h3><a href="/content/frank-hook" class="views-field views-field-title">Frank Hook</a></h3>
										<p class="field-content"> &hellip; In the Fall of 2011, I started having severe back pain. I decided...</p>
									</div>
									<a href="#" class="result-icon"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
								</div>
							</li>
							<li>
								<h2>Our Practices</h2>
								<div class="view-content">
									<div class="text-content"
										<h3><a href="/content/frank-hook" class="views-field views-field-title">Meet Frank Hook</a></h3>
										<p class="field-content"> &hellip; Frank Hooks' story will remind many of us of our own.  We...</p>
									</div>
									<a href="#" class="result-icon"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				{{> sidebar }}
			</div>
		</div>
	</div>
</section>