<div class="row pure-oh-m-share">
	<div class="col-xs-4 col-sm-4 text-center">
		<a class="facebook-share" href="" target="_blank">
			<svg class="svg-icon share-facebook"><use xlink:href="#share_fb"></use></svg>
			<span class="facebook share-facebook">Facebook</span>
		</a>
	</div>
	<div class="col-xs-4 col-sm-4 text-center">
		<a class="twitter-share" href="" target="_blank">		
			<svg class="svg-icon share-twitter"><use xlink:href="#share_twitter"></use></svg>
			<span class="twitter share-twitter">Twitter</span>
		</a>
	</div>
	<div class="col-xs-4 col-sm-4 text-center">
	<a class="mail-share" href="" data-subject="Name">
		<svg class="svg-icon share-email"><use xlink:href="#share_mail"></use></svg>
		<span class="email share-email">Email</span>
	</a>
	</div>
</div>