<section class="pure-oh-m-sidebar">
	<div class="sidebar hidden-xs" id="sticktSidebar">
		<span class="pull-right close visible-xs"><i class="fa fa-times"></i></span>
		<div class="header hidden-xs" data-background="#666666">
			<p>Send us your MRI using the file uploader below so we can evaluate it ahead of your first visit. If your file is on a removable CD or thumbdrive, insert or connect it to upload your MRI directly from your media source.</p>
			<a href="#">Click Here</a>
		</div>
		<p class="first">Is neck or back pain getting in the way of your life?</p>
		<p class="second">We can help you get back to you.</p>
		<a href="#" class="appointment" data-toggle="modal" data-target="#modalRequestAppointment"><i class="fa fa-calendar"></i> Request Appointment</a>
		<ul class="options text-left">
			<li><a href="#">Locations</a></li>
			<li><a href="#">Our Practice</a></li>
			<li><a href="#">Tools & Tips</a></li>
			<li><a href="#">News & Events</a></li>
		</ul>
		<ul class="contacts text-left">
			<li><a href="#" class="card-share" data-toggle="modal" data-target="#modalShare" data-dismiss="modal"><i class="fa fa-share-square-o"></i> Share</a></li>
			<li><a href="#" data-toggle="modal" data-target="#modalContact" data-dismiss="modal"><i class="fa fa-envelope"></i> Contact</a></li>
			<li><a href="tel:855.600.0933"><i class="fa fa-phone"></i> 855.600.0933</a></li>
		</ul>
	</div>
	<div class="visible-xs">
		<div class="mobile-footer">
			<svg class="info-icon pull-right show-sidebar">
				<use xlink:href="#info_ico"></use>
			</svg>
			<svg class="phn-icon">
				<use xlink:href="#phn_ico"></use>
			</svg>
			<div class="contact-mobile">
				<p>Call us</p>
				<p><a href="tel:855.600.0933">855.600.0933</a></p>
			</div>
		</div>
	</div>
</section>