<section class="pure-oh-m-sidebar">
	<div class="sidebar hidden-xs sidebar-modal">
		<span class="pull-right close visible-xs"><i class="fa fa-times"></i></span>
		<h2 class="heading-flat">After Hours Orthopedic Urgent Care</h2>
		<p class="first first-modal">Is neck or back pain getting in the way of your life?</p>
		<p class="line">________</p>
		<p class="second second-modal">We can help you get back to you.</p>
		<a href="#" class="appointment appointment-modal" data-toggle="modal" data-target="#modalRequestAppointment" data-dismiss="modal"><i class="fa fa-calendar"></i> Request Appointment</a>
		<ul class="contacts contacts-modal text-left">
			<li><a href="#" class="card-share" data-toggle="modal" data-target="#modalShare" data-dismiss="modal"><i class="fa fa-share-square-o"></i> Share</a></li>
			<li><a href="#" data-toggle="modal" data-target="#modalContact" data-dismiss="modal"><i class="fa fa-envelope"></i> Contact</a></li>
			<li><a href="tel:855.600.0933"><i class="fa fa-phone"></i> 855.600.0933</a></li>
		</ul>
	</div>
	<div class="visible-xs">
		<div class="mobile-footer">
			<svg class="info-icon pull-right show-sidebar">
				<use xlink:href="#info_ico"></use>
			</svg>
			<svg class="phn-icon">
				<use xlink:href="#phn_ico"></use>
			</svg>
			<div class="contact-mobile">
				<p>Call us</p>
				<p><a href="tel:855.600.0933">855.600.0933</a></p>
			</div>
		</div>
	</div>
</section>