<section class="pure-oh-m-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{> header }}
				<div class="row">
					{{> breadcrumb }}
				</div>
				<div id="single-page" class="patient-support">
					<h1>Bill Pay</h1>
					<p class="description">For Hospital Services, please select the appropriate site below "Relay Solutions/Patient Compass" or "PatientCo" for making payments based on your date of service. These sites are to be used for payments on your hospital services only. Please select "E-Pay" if you have received your bill from E-Pay.</p>
					<div class="cards">
						<div class="row">
							{{> cards/card-one-link}}
							{{> cards/card-one-link}}
							{{> cards/card-1-button}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						<h2>FRACTURE CARE BILLING</h2>
						<p>
							If we treat you or your dependent for a fracture, your insurance company requires that we bill our services to you using a coding system known as CPT (Current Procedure Terminology). The codes used to describe the services we completed for you are found in the “surgery” section of the CPT codebook. This does not mean that you had an operation. This is merely the way the CPT codebook is organized for ease of use by both insurance companies and physicians.
						</p>
						<p>
							According to the CPT guidelines, fracture care is billed as a “packaged” service.
						</p>
						<p>
							This means that at the time of initial care, a bill is generated that includes:
						</p>
						<ul>
							<li>Treatment of the fracture </li>
							<li>The first cast or splint application </li>
							<li>90 days of normal, uncomplicated, follow up care</li>
						</ul>
						</div>
						<div class="col-md-6">
							<h2>About Optim Medical Center-Tattnall</h2>
							<p>
								Optim Medical Center-Tattnall is a premier, physician-owned healthcare facility providing the highest quality of patient care and clinical outcomes for the communities it serves. The Optim network provides its patients 20 convenient locations across southeastern Georgia. With over 30 highly-trained physicians in the Optim Healthcare network (a collaboration of Optim Medical Center-Tattnall and Optim Orthopedics), Optim offers specialized treatment in multiple areas including orthopedics, neurosurgery, interventional pain management, general surgery and primary care.
							</p>
							<ol type="1">
							  <li>X-rays</li>
							  <li>All casting supplies (including those used with the first cast application)</li>
							  <li>Any replacement cast application</li>
							  <li>The evaluation and management of any additional problems or injuries</li>
							  <li>The treatment of complications</li>
							</ol> 
							<p>There will be a separate charge for these services.</p>
						</div>
					</div>
				</div>
				{{> footer }}
			</div>
		</div>
	</div>
</section>