<section class="pure-oh-m-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				{{> header }}
				<div class="row">
					{{> breadcrumb }}
				</div>
				<div id="single-page">
					<p class="post-date"><time datetime="2001-05-15T19:00">October 1, 2015</time></p>
					<h1>Optim Primary Care-Tattnall Adds Roger Beville, MD Primary Care Physycian to Cobbtown and Glenville</h1>
					<p class="share-box">
						<a href="#" class="the-permalink share-action modal-action" data-toggle="modal" data-target="#modalShare"><i class="fa fa-share-square-o"></i> share</a>
					</p>
					{{#if mainImage}}
					<img src="../images/temp/single-page-image.png" alt="test" />
					{{/if}}
					<div class="row">
						<div class="col-md-12">
							<p>
								REIDSVILLE, GA, October 1, 2015 –Optim Primary Care-Tattnall, a department of the physician-owned Optim Medical Center-Tattnall, adds Primary Care Physician Roger Beville, MD who will be seeing patients in Cobbtown and Glennville starting October 1, 2015. Dr. Beville will be joining Optim after most recently working for St. Joseph’s Candler Medical Group in Metter, GA.
							</p>
							<p>
								Born and raised in Vinita, Oklahoma Dr. Beville lived in a few towns in Oklahoma and Missouri before moving to Georgia where he finished high school in Atlanta. He attended Georgia Southern University and completed Medical School at Medical College of Georgia in Macon, GA and Residency at Naval Regional Medical Center in Charleston, SC.
							</p>
							<h2>
								“I am really excited about Optim’s commitment to Primary Care and preventative medicine,”
								said Dr. Beville.
							</h2>
							<p>
								For more information about Roger Beville, MD please visitOptimHealth.com/RogerBeville and to make an appointment, please call 912.654.4599 (Glennville: 1000 B. North Veterans Blvd. • Glennville, GA 30427) and 912.684.2071 (Cobbtown: 36671 Hwy 23 • Cobbtown, GA 30420).
							</p>
						</div>
						<div class="col-md-12">
							<h2>About Optim Medical Center-Tattnall</h2>
							<p>
								Optim Medical Center-Tattnall is a premier, physician-owned healthcare facility providing the highest quality of patient care and clinical outcomes for the communities it serves. The Optim network provides its patients 20 convenient locations across southeastern Georgia. With over 30 highly-trained physicians in the Optim Healthcare network (a collaboration of Optim Medical Center-Tattnall and Optim Orthopedics), Optim offers specialized treatment in multiple areas including orthopedics, neurosurgery, interventional pain management, general surgery and primary care.
							</p>
							<p>
								Optim Medical Center-Tattnall in Reidsville, GA has consistently received accolades for its orthopedic outcomes which include the following: one of Healthgrades® America’s 100 Best Hospitals for Joint Replacement 2 Years in Row (2014-2015), Healthgrades® Five-Star Recipient for Total Knee Replacement 4 Years in a Row (2012-2015) and Healthgrades® Five-Star Recipient for Total Hip Replacement 2 Years in a Row (2014-2015).
							</p>
						</div>
					</div>

					{{#if downloadBox}}
					<div class="row">
						{{> cards/card-download-sp }}
					</div>
					{{/if}}

				</div>
				{{> footer }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				{{> sidebar }}
			</div>
		</div>

	</div>
</div>
</section>