<section class="pure-oh-m-page">
	<div class="pure-oh-m-testimonials">
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
						{{> header-white }}
					</div>
				</div>
				<div class="wrap-hero-description">
					<div class="modal-detail">
						<div class="hero-title">
							<a href="" class="modal-node modal-action" data-toggle="modal" data-target="#modalDetails" data-node="58">MEET HAROLD ROGERS</a>
						</div>
						<div class="hero-description">
							<p> To learn what a difference Optim Spine can make in your life,
								<a href="" class="modal-node modal-action" data-toggle="modal" data-target="#modalDetails" data-node="58">listen</a> to patients like Harold Rogers tell their own stories.
							</p>
						</div>
					</div>
				</div>
			</div>
			<img src="../images/temp/Optim_Spine_Harold_Rogers_hero_image.jpg" class="bannerImage" alt="" width="1180" height="839" data-bg-color="#13212e">
		</div>
	</div>
	<div class="container patient-stories">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="cards">
					<div class="row row-eq-height">
						{{> cards/card-2-buttons }}
						{{> cards/card-1-button img="true" cr="true"}}
						{{> cards/card-team-optim }}
						{{> cards/card-download }}
						{{> cards/card-without-button title="Spine Glossary"}}
						{{> cards/card-news-events }}
						{{> cards/card-testimonial }}
						{{> cards/card-patient-tools }}
					</div>
				</div>
				{{> footer }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				{{> sidebar }}
			</div>
		</div>
	</div>
</section>