<div class="pure-oh-m-what-hurts">
	<h1>What's Hurting</h1>
	<div class="row">
		<div class="col-md-8">
			<p class="description">Ut id varius dolor, et consequat diam. Sed tempor quam sem, sed vulputate mi efficitur id. Etiam
			pellentesque mauris nisi, non elementum sapien dapibus vel.</p>
		</div>
		<div class="links-box col-md-4">
			<span class="wrap-btn">
				<a class="btn btn-start" href="#">
					<span class="btn-arrow-left">
						{{!-- <img src="../images/svg/arrow-left.svg" alt="arrow-left"> --}}
						<i class="fa fa-arrow-left"></i>
					</span>START OVER
				</a>
			</span>
			<span class="wrap-btn"><a class="btn btn-conditions" href="#">SEE ALL CONDITIONS</a></span>
		</div>
	</div>
</div>