.contact_overlay{
    background: $white;
    min-width: 320px !important;
    max-width: 320px;
    width: 100% !important;
    padding: 0 !important;
    @include breakpoint($desk){
        max-width: 715px;
        min-height: 430px;
        position: absolute !important;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    #overlay-content{
        padding: 0;
    }

    #overlay-title-wrapper{
        display: none;
    }

    .panel-col-first{
        width: 100%;
        padding: 1.5em;
        @include breakpoint($desk){
            width: 40%;
        }
    }

    .panel-col-last{
        width: 100%;
        background: #EEF6FB;
        padding: 0 .25em;
        padding-bottom: 2em;
        @include breakpoint($desk){
            width: 60%;
            height: 430px;
            padding: 0 2em;
        }

        form .g-recaptcha div {

            iframe {
                .rc-anchor-normal {
                    width: 268px !important;
                }

                .rc-anchor-logo-portrait {
                    margin: 10px 0 0 -5px !important;
                }
            }
        }
    }

    .contact_title{
        // font-family: $pnb;
        @include pnovaBold();
        color: $dark-blue;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
    }

    .contact_phone{
        // font-family: $pnb;
        @include pnovaBold();
        color: $dark-blue;
        font-size: 16px;
        line-height: 24px;
        padding: 0.75em 1.75em;
        padding-left: 2em;
        padding-right: 0;
        margin-left: 2em;
        background: url('../images/phn_slant_ico_dark.svg') no-repeat center left;
        background-size: 12px;
        border-bottom: 1px solid #D8D8D8;
        @include breakpoint($desk){
            margin-left: 0;
        }
    }

    .contact_email{
        @extend .contact_phone;
        background: url('../images/env_ico_dark.svg') no-repeat center left;
        background-size: 12px;
    }

    .contact_address{
        @extend .contact_phone;
        color: #61A1C7;
        line-height: 20px;
        border: none;
        background: url('../images/env_ico_dark.svg') no-repeat;
        background-position: 0px 15px;
        background-size: 12px;

        p{
            margin: 0;
        }

        p:first-child{
            color: $dark-blue;
        }
    }

    .contact_save{
        @include next_prev_buttons;
        height: 42px;
        line-height: 42px;
        width: 150px;
        display: block;
        background: url('../images/vcf.svg') no-repeat transparent;
        background-size: 16px;
        background-position: 115px center;
        padding-left: 1.5em;
        text-align: left;
        margin-top: 1em;
        margin-left: 2.5em;
    }

    #overlay-close-wrapper{
        @include overlay_close_wrapper;
    }

    #overlay-close{
        @include close_button(18, 18);
    }
}

@media screen and (max-width: 480px) {
  .contact_overlay .newsletter_body input#edit-submit {
    left: 32% !important;
  }
}

