.#{$prefix}-m-cards {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    vertical-align: top;
    text-align: left;
    transform: scale(1);
    transition: transform 0.15s linear;
    background: $white;
    margin-bottom: 1em;

    a {
        display: block;
        outline: none;
        height: 100%;
        &:hover, &:active, &:visited, &:focus{
            outline: none;
            text-decoration: none;
        }
    }

    &:hover {
        transform: scale(1.04);
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
    }

    .card-links{
        text-decoration: none;
    }
    .panel {
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        overflow: hidden;

        & > a{
            display: block;
        }

        &.more {
            padding-bottom: 2em;
        }

        .panel-body {
            padding: 0;
            width: 100%;

            & > a{
                &:hover{
                    text-decoration: none;
                }
                &:active,
                &:focus,
                &:hover{
                    outline-style:none;
                }
            }

            figure {
                min-height: 100px;
            }

            .video-thumbnail {
                position: relative;
            }

            .video-thumbnail:after {
                content: '';
                left: 0;
                top: 0;
                position: absolute;
                background-color: rgba(155, 155, 155, 0.5);
                height: 100%;
                width: 100%;
                display: block;
                z-index: 10;
                background-image: url("../images/svg/play-button.svg");
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }

            .card-title {
                padding: 20px 24px;
            }
            .patient-testimonial{
                margin-top: 20px;
            }

            h2 {
                color: $header;
                @include setThemeColors(headers);
                padding: 0 24px;
                margin: 0;
                font-size: 20px;
                @include fontBold;
                line-height: 1;
                word-break: break-word;
                word-wrap: break-word;

                a {
                    color: $header;
                    @include setThemeColors(headers);
                    text-decoration: none;
                    &:active,
                    &:focus,
                    &:hover{
                        outline-style:none;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            h3 {
                font-size: 18px;

                @include fontBold;

                line-height: 24px;
                text-transform: uppercase;
                color: $links;
                @include setThemeColors(mainColor);
                padding: 0 24px;
                margin-top: 0;
                margin-bottom: 0;
            }

            h4 {
                font-size: 15px;
                line-height: 18px;
                @include fontBRegular;
                color: $links;
                @include setThemeColors(mainColor);
                padding: 0 24px;
                margin-bottom: 0;
            }

            img {
                width: 100%;
                max-width: 100%;
                cursor: pointer;
                // height: auto;
                // -ms-interpolation-mode: bicubic;
                // image-rendering: -webkit-optimize-contrast;
            }

            p {
                padding: 0 24px;
                font-size: 14px;
                color: $general-paragraph;
                @include setThemeColors(general-paragraph);
                line-height: 20px;
                @include fontARegular;
                margin-top: 5px;
                cursor: pointer;

                a {
                    color: $general-paragraph;
                    @include setThemeColors(general-paragraph);
                    text-decoration: none;
                    &:active,
                    &:focus,
                    &:hover{
                        outline-style:none;
                    }
                }
            }

            span, .the-permalink {
                display: block;
                margin: 0 0 0 24px;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 17px;
                color: $links;
                @include fontBold;
                @include onHover;
                @include setThemeColors(links, links);
                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }

        .panel-footer {
            padding: 0;
            border: none;
            margin: 20px 0 0;

            .btn-group {
                .button,
                button, .the-permalink {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $color-button;
                    @include fontBold;
                    border-color: $border-button;
                    border-bottom: none;
                    padding: 20px 0;
                    background-color: $white;
                    outline: 0;
                    @include onHover;
                    @include setThemeColors(cardButton, cardButton, borderCard);

                    &:hover {
                        background: none;
                    }

                    &:focus {
                        outline: 0;
                    }
                }

                .btn:focus {
                    background: none;
                }

                .btn {
                    border: 0;
                }
            }

            .name {
                padding: 0 24px;
                margin-bottom: 0;
            }

            &.link-box {
                background: #FFFFFF;
                border-top: 1px solid transparent;

                a, span, .the-permalink {
                    display: block;
                    margin: 0 0 0 24px;
                    padding: 20px 0;
                    outline: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: $links;
                    @include fontBold;
                    @include onHover;
                    @include setThemeColors(links, links);
                    &:hover {
                        cursor: pointer;
                        text-decoration: none;
                    }
                    &:active,
                    &:focus,
                    &:hover{
                        outline-style:none;
                    }
                }
            }
        }

        .patient-testimonial {
            font-size: 14px;
            line-height: 17px;
        }
    }

    .btn-group-justified > .btn, .btn-group-justified > .btn-group {
        border-top: 1px solid $border-button;
    }

    .btn-group:nth-child(2) {
        border-left: 1px solid $border-button;
        border-right: 0;
    }

    @include breakpoint("tablet-down") {
        .panel {
            .panel-body {
                .btn-group {
                    button {
                        padding: 20px 22px;
                    }
                }
            }
        }
    }
}