.#{$prefix}-m-modal-team {
    .modal-dialog, .modal-content{
        max-width: 650px;
        margin: 0 auto;
        transform: translate(0, 0);
    }

    .modal-content {
        border: none;
        .modal-body {
            padding: 0 0 0.8em 0;
            margin-bottom: 1em;

            figure {
                width: 100%;
                min-height: 253px;

                img {
                    width: 100%;
                }
            }

            h2 {
                color: $header;
                @include setThemeColors(headers);
                text-transform: uppercase;
                margin-top: 0;
                padding: 0 24px;
                font-size: 24px;

                @include fontBold;

                line-height: 1;
                word-wrap: break-word;
                margin-bottom: 0;
            }

            h3 {
                font-size: 18px;

                @include fontBold;

                line-height: 24px;
                text-transform: uppercase;
                color: $links;
                @include setThemeColors(links);
                padding: 0 24px;
                margin-top: 0;
            }

            h4 {
                font-size: 15px;
                line-height: 18px;
                @include fontBRegular;
                color: $links;
                @include setThemeColors(links);
                padding: 0 24px;
                margin-top: 2em;
                margin-bottom: 0;
            }

            .close {
                font-size: 35px;
                right: 0.8em;
                top: 0.5em;
                &:hover{
                    color: #23527c;
                    @include setThemeColors(links);
                    opacity: 1;
                }
            }

            .tab-content {
                #contact {
                    margin-top: 1em;
                    label{
                        @include setThemeColors(mainColor);
                    }
                    input {
                        background: url(../images/form_bot_border.png);
                        background-position: bottom;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-color: $white;
                        border: none;
                        &:invalid, &:required, &:-moz-submit-invalid{
                            box-shadow: none;
                        }
                    }
                    input[type=submit] {
                        font-family: "proximanova-bold-webfont";
                        border: 1px solid $sidebar-header;
                        display: block;
                        background-color: $white;
                        color: $sidebar-header;
                        border-radius: 28px;
                        font-size: 12px;
                        line-height: 14px;
                        padding: 1em 1.5em;
                        text-transform: uppercase;
                        margin: 15px auto;
                        width: 25%;
                        height: 45px;
                        @include setThemeColors(colorButton, colorButton, colorButton);
                    }
                    input,
                    textarea {
                        @include fontBold;

                        height: 64px;
                        line-height: 64px;
                        padding-left: 1em;
                        background: $background-tabs;
                        margin-top: 5px;
                        border: none;
                        width: 100%;
                    }
                    textarea {
                        height: 150px;
                        padding: 1em;
                        box-shadow: none;
                    }
                    .description {
                        @include fontBold;
                        color: $links;
                        @include setThemeColors(mainColor);
                        font-size: 18px;
                        line-height: 22px;
                        text-decoration: none;
                    }
                    .error-details{
                        margin-left: 43px;
                        @include fontARegular;
                        font-size: 14px;
                    }
                    .error-field{
                        border-bottom: 2px solid $error-field;
                    }
                    .form-item.webform-component{
                        width: 80%;
                        margin: 1em auto;
                    }
                }

                #info {
                    padding: 1em;

                    h5 {
                        font-size: 14px;
                        line-height: 17px;
                        margin: 0;
                        @include fontBold;
                        color: $links;
                        @include setThemeColors(links);
                    }

                    .info-details, p {
                        @include fontARegular;
                        color: $general-paragraph;
                        @include setThemeColors(general-paragraph);
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                #links{
                    padding: 1em;
                    .link{
                        @include fontBold;
                        color: $links;
                        font-size: 14px;
                        line-height: 17px;
                        display: block;
                        margin: 0 0 15px;
                    }
                    .no-links{
                        text-align: center;
                        font-size: 14px;
                        @include fontARegular;
                        color: $general-paragraph ;
                    }
                }

                #locations {
                    .direction {
                        padding: 1em 1em 0 1em;
                        position: relative;

                        &:active,
                        &:focus,
                        &:hover {
                            background-color: #F5F5F5;

                            .map {
                                display: block;
                            }
                        }

                        p {
                            margin-bottom: 0;
                            @include fontBold;
                            color: $header;
                            @include setThemeColors(general-paragraph);
                            font-size: 14px;
                            line-height: 22px;
                            width: 85%;
                        }

                        .address {
                            @include fontBBold;
                            font-size: 14px;
                            line-height: 22px;
                            color: $general-paragraph;
                            @include setThemeColors(general-paragraph);
                            margin-bottom: 0;
                        }

                        .location {
                            color: $links;
                            @include setThemeColors(links, links);
                            @include fontBold;
                            font-size: 14px;
                            line-height: 22px;
                            outline: none;
                            text-decoration: none;
                        }

                        .map {
                            display: none;
                            font-size: 10px;
                            line-height: 12px;
                            text-transform: uppercase;
                            position: absolute;
                            top: 50%;
                            right: 5%;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                            width: 60px;
                            text-decoration: none;
                            outline: none;
                            @include fontBold;
                            color: $links;
                            // a {
                            //     text-decoration: none;
                            //     outline: none;
                            //     @include fontBold;
                            //     color: $links;
                            //     top: 75%;
                            // }

                            img {
                                height: 29px;
                                right: 0.95em;
                            }

                            svg {
                                pointer-events: none; 
                            }
                        }

                        .phone-number {
                            @include fontARegular;
                            font-size: 14px;
                            line-height: 22px;
                            color: $general-paragraph;
                        }
                    }
                }

                #share {
                    margin-top: 3em;
                    margin-bottom: 5em;

                    p {
                        font-size: 14px;
                        line-height: 22px;
                        @include fontBold;
                        color: $links;
                        @include setThemeColors(links);
                    }
                }

                .pure-oh-m-share {
                    width: 60%;
                    margin: 0 auto;
                }
            }

            .nav-tabs {
                background: $background-tabs;
                padding: 0.5em 1em;
                margin: 0;
                line-height: 1.3;
                border: none;

                li {
                    background: none;
                    padding-top: 0.5em;
                    text-transform: uppercase;
                    opacity: 0.5;
                    transition: all 0.3s ease-in;
                    margin: 0 0 10px;
                    &.active, &:hover {
                        opacity: 1;
                    }

                    &.active{
                        border-bottom: 5px solid $links;
                        @include setThemeColors('','', links);
                    }

                    a {
                        font-size: 12px;
                        line-height: 14px;
                        @include breakpoint('phone'){
                            font-size: 3.2vw;
                            line-height: 3.5vw;
                            padding: 0 2vw;
                        }
                        @include fontBold;
                        color: $links;
                        cursor: pointer;
                        border: none;
                        background: none;
                        padding: 0 12px;
                        @include onHover;
                        @include setThemeColors(cardButton, cardButton);
                        margin: 0;

                        .icon {
                            font-size: 24px;
                            display: block;
                            margin-bottom: 0.3em;
                        }
                    }
                }
            }
        }
    }

    @include breakpoint('phone'){
        .modal-content{
            .modal-body .tab-content .pure-oh-m-share {
                width: 80%;
                margin: 0 auto;
                float: none;
                .svg-icon {
                    width: 100%;
                }
                .svg-icon.share-facebook {
                    width: 116%;
                }
                .facebook.share-facebook {
                    width: 100%;
                    left: 4%;
                }
                .twitter.share-twitter {
                    width: 100%;
                    left: -1px;
                }
            }
            .footer{
                margin-top: 90px;
            }
        }
    }

}
