.#{$prefix}-m-modal-share{
	.modal-header{
		color: $header;
		@include setThemeColors(mainColor);
		@include fontBold;

		h2{
			font-size: 32px;
			line-height: 38px;
			text-transform: uppercase;
		}

		.close{
			color: $header;
			@include setThemeColors(links);
			font-size: 32px;
			cursor: pointer;
		}
	}
}