.#{$prefix}-m-modal-about{
	.modal-dialog{
		.modal-content{
			.modal-body{
				@include breakpoint('phone'){
					padding-bottom: 100px;
				}
				 .description{
					@include fontARegular;
					font-size: 14px;
					line-height: 22px;
					margin-bottom: 20px;
					color: $general-paragraph;
				}
			}
			#modal-header{
				padding: 15px;
				.close{
					color: $header;
					font-size: 32px;
					cursor: pointer;
				}
			}
		}
	}
}