#healthcare-homepage{
	.content-header{
		h2, p{
			color: #FFFFFF;
		}
		h2{
			@include fontBold;
			font-size: 35px;
		}
		p{
			font-size: 14px;
		}
	}
	.accordion{
		margin-top: 0;
		.accordion-item{
			margin-bottom: 2%;
			h2{
				font-size: 25px;
				line-height: 25px;
			}
		}
	}
}