<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-item">
    <div class="pure-oh-m-cards">
        <div class="panel">
            <div class="panel-body col-eq-height">
                <a href='#' class="test">
                    {{#if img}}
                    <figure>
                        <img src="../images/temp/th_02-Lower-back-pain.png" alt="">
                    </figure>
                    {{/if}}
                    {{#if time}}
                     <p class="card-date"><time datetime="2001-05-15T19:00">October 1, 2015</time></p>
                    {{/if}}
                    <h2 class="card-title">
                        Optim Primary Care-Tattnall Adds Roger Beville, MD Primary Care Physician to Cobbtown and Glennville
                    </h2>
                    <p>REIDSVILLE, GA, October 1, 2015 –Optim Primary Care-Tattnall, a department of the physician-owned Optim Medical Center...></p>
                </a>
            </div>
            <div class="panel-footer link-box">
                <a href="#" class="the-permalink"><i class="fa fa-arrow-right"></i> Continue Reading</a>
            </div>
        </div>
    </div>
</div>