<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 card-item">
    <div class="pure-oh-m-cards">
        <div class="panel">
            <div class="panel-body col-eq-height">
                {{#if img}}
                <figure>
                    <img src="../images/temp/th_02-Lower-back-pain.png" alt="">
                </figure>
                {{/if}}
                <h2 class="card-title">
                    <a href="#">{{title}}</a>
                </h2>
                <p><a href="#">{{description}}</a></p>
            </div>
            <div class="panel-footer link-box">
                <a href="#" class="the-permalink"><i class="fa fa-arrow-right"></i> Learn More</a>
            </div>
        </div>
    </div>
</div>