<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-item">
	<div class="pure-oh-m-cards modal-cards modal-detail">
	    <div class="panel">
	    	<div class="panel-body col-eq-height modal-node modal-action" data-toggle="modal" data-target="#modalDetails" data-node="99">
	    		<figure>
	        		<img src="../images/temp/th_02-Lower-back-pain.png" alt="" />
	    		</figure>
	    		<h2>Vertebral Subluxation 2</h2>
	    	</div>
	    	<div class="panel-footer">
				<div class="btn-group btn-group-justified buttons">
				    <div class="btn-group">
				    	<a href="#" type="button" class="btn button"><i class=" fa fa-file-text-o"></i> Download</a>
				    </div>
				    <div class="btn-group">
				      	<button type="button" class="btn card-share" data-toggle="modal" data-target="#modalShare"><i class="fa fa-share-square-o"></i>  Share</button>
				    </div>
				</div>
	    	</div>
	    </div>
	</div>
</div>