<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-item">
	<div class="pure-oh-m-cards modal-cards modal-detail" data-filter="Hand">
	    <div class="panel">
	    	<div class="panel-body col-eq-height modal-node modal-action" data-toggle="modal" data-target="#modalDetails" data-node="59">
	    			<h2 class="card-title"> Vertebral Subluxation</h2>
			    <p>At some point in our lives almost everyone will experience back or neck pain, occasionally nagging...</p>
			    <span><i class="fa fa-arrow-right"></i>  Continue Reading</span>
	    	</div>
	    	<div class="panel-footer">
				<div class="btn-group btn-group-justified buttons">
				    <div class="btn-group">
				    	<button type="button" class="btn"><i class=" fa fa-cloud-download"></i>  Download</button>
				    </div>
				    <div class="btn-group">
				      	<button type="button" class="btn card-share"><i class="fa fa-share-square-o"></i>  Share</button>
				    </div>
				</div>
	    	</div>
	    </div>
	</div>
</div>

