<div class="col-md-6 col-sm-6 col-xs-12 card-item">
    <div class="pure-oh-m-card-download-sp">
        <div class="panel more">
            <div class="panel-body">
                <p> Lorem Ipsum 8, 2015</p>
                <h2 class="file-type">Excel Spreadsheet File.xlsx</h2>
                <a data-toggle="modal" data-target="#modalDetails"><i class=" fa fa-file-text-o"></i><span> Download</span></a>
            </div>
        </div>
    </div>
</div>

