<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-item">
	<div class="pure-oh-m-cards modal-cards modal-detail" data-filter="Hand">
	    <div class="panel">
	    	<div class="panel-body col-eq-height modal-node modal-action" data-toggle="modal" data-target="#modalDetails" data-node="59">
	    		{{#if img}}
	    		<figure>
	        		<img src="../images/temp/th_02-Lower-back-pain.png" alt="">
	    		</figure>
	    		{{/if}}
    			<h2>Lower Back Pain</h2>
		    	<p>At some point in our lives almost everyone will experience back or neck pain, occasionally nagging...</p>
		    	{{#if cr}}
		    	<span><i class="fa fa-arrow-right"></i>  Continue Reading</span>
		    	{{/if}}
	    	</div>
	    	<div class="panel-footer">
				<div class="btn-group btn-group-justified buttons">
				    <div class="btn-group">
				    	<button type="button" class="btn" data-toggle="modal" data-target="#modalDetails">
					    	{{#if the-link}}{{the-link}}
					    	{{else}}<i class=" fa fa-play"></i> Watch
					    	{{/if}}
				    	</button>
				    </div>
				</div>
			</div>
	    </div>
	</div>
</div>

