<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-item">
	<div class="pure-oh-m-cards modal-cards modal-detail" data-filter="Hand">
	    <div class="panel">
	    	<div class="panel-body col-eq-height modal-node modal-action" data-toggle="modal" data-target="#modalDetails" data-node="35">
	    		<figure>
	        		<img src="../images/temp/th_02-Lower-back-pain.png" alt="" />
	    		</figure>
	    		<h3 class="patient-testimonial">Patient Testimonial</h3>
	    		<h2>Frank Hook</h2>
	    	</div>
	    	<div class="panel-footer">
				<div class="btn-group btn-group-justified buttons">
				    <div class="btn-group">
				    	<button type="button" class="btn modal-action" data-toggle="modal" data-target="#modalDetails"><i class=" fa fa-arrow-right"></i>  Read</button>
				    </div>
				    <div class="btn-group">
				      	<button type="button" class="btn card-share" data-toggle="modal" data-target="#modalShare"><i class="fa fa-share-square-o"></i>  Share</button>
				    </div>
				</div>
	    	</div>
	    </div>
	</div>
</div>

