<div class="html not-front not-logged-in no-sidebars page-node page-node- page-node-176 node-type-page overlay content">
	<div id="overlay-content" class="clearfix">
		<main id="main" role="main">
        	<h1 class="title" id="page-title">Optim Spine</h1>
            <div id="block-system-main" class="block block-system">
  				<div class="content">
    				<article id="node-176" class="node node-page clearfix" role="article">
    					<header></header>
						<div class="content">
							<div class="field field-name-body field-type-text-with-summary field-label-hidden">
								<div class="field-items">
									<div class="field-item even">
										<p>At Optim Spine, we have assembled a team of experts serving all areas of spine care—entirely under one roof.</p>
										<p>We’re different in the way that we listen to our patients and think about and their problems – it’s evident from the first moment that we meet right through the process of getting you back to feeling good again. &nbsp;</p>
										<p>We are a unique group of specialists and our expertise covers the full spectrum of spine care. With dedicated physical therapists, anesthesia and rehabilitation pain management specialists and surgeons with both orthopedic and neurosurgical training, our comprehensive team is like no other in Georgia. Our spine-focused network allows us to offer each patient the full spectrum of care including comprehensive non-operative strategies and the latest and most advanced minimally-invasive and reconstructive surgical treatments.</p>
										<p>We understand the importance of offering specialized care to patients in both larger metropolitan areas and rural locations.&nbsp; We are conveniently found in over 20 satellite offices throughout southeast Georgia and have a state-of-the-art outpatient Surgery Center in Savannah, GA (Optim Surgery Center) and a full service Orthopedic specialty hospital located in Reidsville, GA (the physician-owned Optim Medical Center-Tattnall).&nbsp; Together, Optim Medical Center-Tattnall and Optim Surgery Center have exceptionally low complication rates. In 2013-2014 Optim’s spine surgery infection rate was 0.97% and 0% for pain management procedures.</p>
										<p>Our spine patients are some of the most interesting and remarkable people that we encounter. Some have been dealing with pain for years while others have had recent injuries. Hear some of their experiences on our Patient Stories page.</p>
										<p>For whatever spinal problems you may be having we hope that you will experience the Optim difference. Let Optim Spine help get you back to your pain-free self.</p>
										<p>Optim Spine is a collaboration of Optim Orthopedics and the physician-owned Optim Medical Center-Tattnall.</p>
									</div>
								</div>
							</div>
						</div>
					</article>
  				</div>
			</div>
  		</main>
  	</div>
</div>