<div id="block-menu-menu-footer-menu" class="block block-menu">
	<div class="content">
		<ul class="menu">
			<li class="first leaf">
				<a href="/content/optim-spine" title="">About</a>
			</li>
			<li class="last leaf">
				<a href="/patient-testimonials" title="">Patient Stories</a>
			</li>
		</ul>
	</div>
</div>
<div id="block-panels-mini-mobile-footer" class="block block-panels-mini">
	<div class="content">
		<div class="panel-display panel-1col clearfix" id="mini-panel-mobile_footer">
			<div class="panel-panel panel-col">
				<div>
					<div class="panel-pane pane-custom pane-2">
						<div class="pane-content">
							<div class="mobile_footer">
								<div class="mobile_footer_info">&nbsp;</div>
								<div class="mobile_footer_call">
									<div class="mobile_footer_call_top">Call us</div>
									<div class="mobile_footer_call_bot">1-855.600.0933</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>