<div class="html not-front not-logged-in no-sidebars">
  <div class="header-wrapper">
    <header id="header" role="banner">
      <div id="block-block-1" class="block block-block">
        <div class="content">
          <span id="logo">
            <a href="/" title="Optim Spine Healthcare" rel="home"><img typeof="foaf:Image" src="images/svg/optim_logo_light.svg" class="logo_light" alt="Optim Spine Healthcare Logo">
              <img typeof="foaf:Image" src="images/svg/optim_logo_dark.svg" class="logo_dark" alt="Optim Spine Healthcare Logo">
            </a>
          </span>
        </div>
      </div>
      <div id="block-menu-menu-top-menu" class="block block-menu">
        <div class="content">
          <ul class="menu">
            <li class="first leaf"><a href="/what-hurts">WHAT HURTS?</a></li>
            <li class="leaf"><a href="/our-practice">OUR PRACTICE</a></li>
            <li class="last leaf active-trail"><a href="/treatments" title="" class="active-trail active">TREATMENTS</a></li>
          </ul>
        </div>
      </div>
      <div id="block-panels-mini-search" class="block block-panels-mini">
        <div class="content">
          <div class="panel-display panel-1col clearfix" id="mini-panel-search">
            <div class="panel-panel panel-col">
              <div>
                <div class="panel-pane pane-custom pane-1">
                  <div class="pane-content">
                    <div class="search_icon">
                      <a class="bs_modal jquery-once-1-processed jquery-once-3-processed" data-target=".search_block" data-toggle="modal" href=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>