<main id="main" role="main" style="background-image: url(../images/background_homepage/home_0000_home_0.jpg);">
    <div id="block-system-main" class="block block-system">
        <div class="content">
          <div class="view view-homepage-carousel view-id-homepage_carousel view-display-id-page home-carousel view-dom-id-7f80206a6c4dab3d648c2f950c1931b3">
            <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">
                    <div class="views-field views-field-nothing">
                        <span class="field-content">
                            <div class="carousel_wrapper">
                                <div class="carousel_text">
                                    <div class="carousel_title">
                                        <span class="home_arrow">&gt;</span>
                                        <a href="/what-hurts">What Hurts</a>
                                    </div>
                                    <div class="carousel_toggle">
                                        <div class="carousel_desc">Back and neck pain can stop you from leading a full and active life. The first step towards feeling better is learning what we need to fix.</div>
                                        <div class="carousel_more">
                                            <a href="/what-hurts">Learn More</a>
                                        </div>
                                    </div>
                                    <img src="../images/background_homepage/home_0001_what_hurts_0.jpg" width="1440" height="900" alt="" />
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="views-row views-row-2 views-row-even">
                    <div class="views-field views-field-nothing">
                        <span class="field-content">
                            <div class="carousel_wrapper">
                                <div class="carousel_text">
                                    <div class="carousel_title">
                                        <span class="home_arrow">&gt;</span>
                                        <a href="/our-practice">Our Practice</a>
                                    </div>
                                    <div class="carousel_toggle">
                                        <div class="carousel_desc">
                                            <p>We built our unique Spine practice to ensure a unified patient experience. We strive to identify your problem and work through a diagnosis in order to complete your successful treatment.</p>
                                        </div>
                                        <div class="carousel_more">
                                            <a href="/our-practice">Learn More</a>
                                        </div>
                                    </div>
                                    <img src="../images/background_homepage/home_0003_our_practice_1.jpg" width="1440" height="900" alt="" />
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="views-row views-row-3 views-row-odd views-row-last">
                    <div class="views-field views-field-nothing">
                        <span class="field-content">
                            <div class="carousel_wrapper">
                                <div class="carousel_text">
                                    <div class="carousel_title">
                                        <span class="home_arrow">&gt;</span>
                                        <a href="/treatments">Treatments</a>
                                    </div>
                                    <div class="carousel_toggle">
                                        <div class="carousel_desc">
                                            <p>Your pain is personal and so are the causes. Your tailored, integrated treatment plan should be personal too. </p>
                                        </div>
                                        <div class="carousel_more">
                                            <a href="/treatments">Learn More</a>
                                        </div>
                                    </div>
                                    <img src="../images/background_homepage/home_0002_treatments_0.jpg" width="1440" height="900" alt="" />
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="view-footer">
                <div class="view view-homepage-carousel view-id-homepage_carousel view-display-id-block default-carousel view-dom-id-946b51990e500002a33833811c3728c9">
                    <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <img src="../images/background_homepage/home_0000_home_0.jpg" width="1440" height="900" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>