<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Modal title</h4>
            </div>
            <div class="modal-body">
               <main id="main" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title" id="page-title">Lower Back Pain</h1>
                    <div id="block-system-main" class="block block-system">
                        <div class="content">
                            <article id="node-41" class="node node-condition clearfix" role="article">
                                <header></header>
                                <div class="content">
                                    <div class="field field-name-field-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img src="http://104.130.8.232/sites/default/files/th_02-Lower-back-pain.png" width="640" height="360" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-name-field-share field-type-static-field field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <div class="view view-download-share view-id-download_share view-display-id-default view-dom-id-cf3faad0bb38e83a566f782ad4b3ed0f">
                                                    <div class="view-content">
                                                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                                            <div class="views-field views-field-nothing">
                                                                <span class="field-content">
                                                                  <a href="http://104.130.8.232/share/41"><i class="icon-share-right"></i> Share</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <p>At some point in our lives almost everyone will experience back or neck pain, occasionally nagging and sometimes debilitating. &nbsp;In many cases, this pain originates in the lower (<em><u>lumbar</u></em>) back when discs become <em><u>herniated</u></em> or simply start to wear out. Watch&nbsp;Stuart Fife, Optim's Director of Physical Therapy, describe&nbsp;the stages of lower back pain in patients and our proven strategy for helping our them get back to a pain-free life.</p>
                                                <p>&nbsp;</p>
                                                <div class="media_embed">
                                                    <iframe allowfullscreen="" frameborder="0" height="315px" src="https://www.youtube.com/embed/eibZBEj5WaQ" width="560px"></iframe>
                                                </div>
                                                <p>&nbsp;</p>
                                                <p>Learn more about Lower Back Pain, its causes, symptoms and treatment in the animation and information below.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-name-field-moa field-type-text-long field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><!-- ViewMedica Embed Start -->
                                                <div id="A_98cd8947" style="max-width: 100%; box-sizing: border-box;">
                                                    <iframe width="580" height="386" frameborder="0" webkitallowfullscreen="always" mozallowfullscreen="always" allowfullscreen="always" id="viewmedica_A_98cd8947" src="http://swarminteractive.com/vm/viewmedica/embed/?client=6083&amp;lang=en&amp;openthis=A_98cd8947&amp;embedded=http%3A%2F%2F104.130.8.232%2Fcondition%2Flower-back-pain%3Frender%3Doverlay&amp;fsmode=on&amp;ref=ecR9gNC41OLLLLaIhjEKM2ZaiwTmT3vHk2bxX6yGS47lfKb6TUe5X%2BYU%2BY7kRErccIGDg8Wemnd%2FYbEcHitqjp27xeUrf4PXZcSsUfUWn0mDTqjGvdGJt%2Bx%2FbVCDwbC%2B" style="border: 1px solid rgb(204, 204, 204); overflow: hidden; max-width: 100%; box-sizing: border-box;"></iframe>
                                                </div>
                                          {{!-- ToDo: Review this call --}}
                                                <script type="text/javascript" src="https://www.swarminteractive.com/js/vm.js"></script>
                                                <script type="text/javascript">client="6083"; openthis="A_98cd8947"; width=580; vm_open();</script>
                                            <!-- ViewMedica Embed End -->
                                                </div>
                                            </div>
                                        </div>
                                    <div class="field field-name-field-treatment field-type-entityreference field-label-above">
                                        <div class="field-label">Related Treatments:&nbsp;</div>
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <a href="/content/interventional-pain-management">Interventional Pain Management</a>
                                            </div>
                                            <div class="field-item odd">
                                                <a href="/content/lumbar-microdecompression">Lumbar Microdecompression</a>
                                            </div>
                                            <div class="field-item even">
                                                <a href="/content/lumbar-microdiscectomy">Lumbar Microdiscectomy</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="background: aqua;">
                    <div id="block-panels-mini-right-sidebar-overlay" class="block block-panels-mini">
                        <div class="content">
                            <div class="panel-display panel-1col clearfix" id="mini-panel-right_sidebar_overlay">
                                <div class="panel-panel panel-col">
                                    <div>
                                        <div class="panel-pane pane-custom pane-1">
                                            <div class="pane-content">
                                                <a class="mobile_close"></a>
                                            </div>
                                        </div>
                                        <div class="panel-pane pane-custom pane-2">
                                            <div class="pane-content">
                                                <p><!-- Go to www.addthis.com/dashboard to customize your tools --></p>
                                                <p class="right_top">Is neck or back pain getting in the way of your life?</p>
                                                <p class="right_top">________</p>
                                                <p class="right_bottom">We can help you get back to you.</p>
                                                <p><a class="appointment_button" href="/eform/submit/appointment"><i class="icon-calendar"></i> Request Appointment</a></p>
                                            </div>
                                        </div>
                                    <div class="panel-pane pane-custom pane-3 pane-share">
                                        <div class="pane-content">
                                            <p>
                                                <a class="bs_modal share jquery-once-1-processed jquery-once-3-processed" data-target=".optimShare" data-toggle="modal" href=""><i class="icon-share-right"></i> SHARE</a>
                                            </p>
                                            <div aria-hidden="true" aria-labelledby="share" class="modal fade optimShare" role="dialog" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <a aria-label="Close" class="share_close" data-dismiss="modal" type="button"><span aria-hidden="true"></span></a>
                                                        </div>
                                                        <div class="share_overlay_text"><i class="icon-share-right"></i> SHARE<br>OPTIM SPINE</div>
                                                        <div class="addthis_sharing_toolbox" data-url="http://104.130.8.232/condition/lower-back-pain" data-title="Lower Back Pain | Spine by Optim Healthcare - Getting you back to you">&nbsp;
                                                            <div id="atstbx" class="at-share-tbx-element addthis_32x32_style addthis-smartlayers addthis-animated at4-show">
                                                                <a class="at-share-btn at-svc-facebook">
                                                                    <span class="at4-icon aticon-facebook" title="Facebook"></span>
                                                                </a>
                                                                <a class="at-share-btn at-svc-twitter">
                                                                    <span class="at4-icon aticon-twitter" title="Twitter"></span>
                                                                </a>
                                                                <a class="at-share-btn at-svc-email">
                                                                    <span class="at4-icon aticon-email" title="Email"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-pane pane-custom pane-4 pane-contact">
                                        <div class="pane-content">
                                            <p><a href="/contact-optim"><i class="icon-envelope"></i> Contact</a></p>
                                        </div>
                                    </div>
                                    <div class="panel-pane pane-custom pane-5 pane-call">
                                        <div class="pane-content">
                                            <p><a href="tel:1-855.600.0933"><i class="icon-telephone"></i>1-855.600.0933</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- </div> --}}
            </div>
        </div>
    </main>

            </div>
        </div> <!--modal-content-->
    </div> <!--modal-dialog-->
</div> <!--modal-->