<div class="html not-front not-logged-in no-sidebars page-our-practice our-practice">
	<main id="main" role="main">
        <h1 class="title" id="page-title">Our Practice</h1>
        <div id="block-views-614f33cbbb201f0589c7fac73a75baa3" class="block block-views">
  			<div class="content">
    			<div class="view view-our-practice-featured-content view-id-our_practice_featured_content view-display-id-block_1 header-queue view-dom-id-692fd40eab80a3c777890ec8031d81fa">
      				<div class="view-content">
        				<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
  							<div class="views-field views-field-body">
  								<div class="field-content">
  									<p><span style="font-size:16px">Optim Spine physicians understand&nbsp;your back and neck problems&nbsp;from diagnosis to treatment.&nbsp; Our relentless focus on quality patient experience and successful patient outcomes makes us a truly different healthcare practice. &nbsp;Learn about what this difference means for you in the words and stories of our physicians and patients below.&nbsp;</span></p>
 								</div>
 							</div>
 						</div>
    				</div>
				</div>
			</div>
		</div>
		<div id="block-system-main" class="block block-system">
  			<div class="content">
    			<div class="view view-our-practice view-id-our_practice view-display-id-page_1 view-dom-id-75a2ec3e0d9e44d2028501d29a10eb61 jquery-once-4-processed">
      				<div class="view-content">
        				<div class="views-row views-row-1 views-row-odd views-row-first">
  							<div class="views-field views-field-views-conditional">
  								<span class="field-content">
  									<a href="/content/our-chief-surgery">
  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0016_Heiges-omtimised_2.png?itok=wTEDftD0" width="340" height="181" alt="">
  									</a>
									<a href="/content/our-chief-surgery"></a>
								</span>
							</div>
  							<div class="views-field views-field-title">
  								<span class="field-content">
  									<a href="/content/our-chief-surgery">Our Chief of Surgery</a>
  								</span>
  							</div>
  							<div class="views-field views-field-views-conditional-2">
  								<span class="field-content"></span>
  							</div>
  							<div>
  								<span>
  									<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/200" title="Share Our Chief of Surgery"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-2 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/our-approach-pain-management">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0022_Pandya.jpg?itok=JMVvMCVT" width="340" height="181" alt="">
						  			</a>
									<a href="/content/our-approach-pain-management"></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/our-approach-pain-management">Our Approach to Pain Management</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-views-conditional-2">
						  		<span class="field-content"></span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/53" title="Share Our Approach to Pain Management"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-3 views-row-odd">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/innovative-technology">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0009_Considine.jpg?itok=67iu4xzW" width="340" height="181" alt="">
						  			</a>
									<a href="/content/innovative-technology"></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/innovative-technology">Innovative Technology</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-views-conditional-2">
						  		<span class="field-content"></span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/54" title="Share Innovative Technology"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-4 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/meet-harvey-hancock">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0014_HarveyHancock-Patient.jpg?itok=qSwiL8aj" width="340" height="181" alt="">
						  			</a>
									<a href="/content/meet-harvey-hancock"></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/meet-harvey-hancock">Meet Harvey Hancock</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-views-conditional-2">
						  		<span class="field-content"></span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/58" title="Share Meet Harvey Hancock"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-5 views-row-odd">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/meet-harold-rogers">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0013_HaroldRogers-Patient.jpg?itok=ttv_gCNj" width="340" height="181" alt="">
						  			</a>
									<a href="/content/meet-harold-rogers"></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/meet-harold-rogers">Meet Harold Rogers</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-views-conditional-2">
						  		<span class="field-content"></span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/55" title="Share Meet Harold Rogers"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-6 views-row-even views-row-last">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/meet-frank-hook">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0012_FrankHook-Patient.jpg?itok=B5ygZg5z" width="340" height="181" alt="">
						  			</a>
									<a href="/content/meet-frank-hook"></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/meet-frank-hook">Meet Frank Hook</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-views-conditional-2">
						  		<span class="field-content"></span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/56" title="Share Meet Frank Hook"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
    				</div>
				</div>
			</div>
		</div>
		{{> footer}}
  	</main>
</div>