<div class="html not-front not-logged-in no-sidebars page-patient-testimonials patient-testimonials has-banner">
	<div class="header-wrapper" style="background-image: url(http://104.130.8.232/sites/default/files/styles/featured-testimonial/public/Optim%20Spine%20Harold%20Rogers%20hero%20image.jpg?itok=pXslAy4E);">
    	<header id="header" role="banner">
        	<div id="block-block-1" class="block block-block">
  				<div class="content">
    				<span id="logo">
  						<a href="/" title="Optim Spine Healthcare" rel="home">
  							<img typeof="foaf:Image" src="../images/svg/optim_logo_light.svg" class="logo_light" alt="Optim Spine Healthcare Logo">
  							<img typeof="foaf:Image" src="/../images/svg/optim_logo_dark.svg" class="logo_dark" alt="Optim Spine Healthcare Logo">
  						</a>
					</span>
				</div>
			</div>
			<div id="block-menu-menu-top-menu" class="block block-menu">
  				<div class="content">
    				<ul class="menu">
    					<li class="first leaf"><a href="/what-hurts">WHAT HURTS?</a></li>
						<li class="leaf"><a href="/our-practice">OUR PRACTICE</a></li>
						<li class="last leaf"><a href="/treatments" title="">TREATMENTS</a></li>
					</ul>
				</div>
			</div>
			<div id="block-panels-mini-search" class="block block-panels-mini">
	  			<div class="content">
	    			<div class="panel-display panel-1col clearfix" id="mini-panel-search">
	  					<div class="panel-panel panel-col">
	    					<div>
	    						<div class="panel-pane pane-custom pane-1">
	  								<div class="pane-content">
	     								<div class="search_icon">
	     									<a class="bs_modal jquery-once-1-processed jquery-once-3-processed" data-target=".search_block" data-toggle="modal" href=""></a>
	     								</div>
	   								</div>
	  							</div>
							</div>
	  					</div>
					</div>
	  			</div>
			</div>
			<div id="block-views-patient-testimonials-block-1" class="block block-views">
	  			<div class="content">
	    			<div class="view view-patient-testimonials view-id-patient_testimonials view-display-id-block_1 view-dom-id-f2a1aeb76183f0998b7e395624d8c51f jquery-once-4-processed">
	      				<div class="view-content">
	        				<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
	  							<div class="views-field views-field-field-image">
	  								<div class="field-content">
	  									<img src="http://104.130.8.232/sites/default/files/styles/featured-testimonial/public/Optim%20Spine%20Harold%20Rogers%20hero%20image.jpg?itok=pXslAy4E" width="1180" height="839" alt="">
	  								</div>
	  							</div>
	  							<div class="views-field views-field-title">
	  								<span class="field-content">
	  									<a href="/content/meet-harold-rogers-0">MEET HAROLD ROGERS</a>
	  								</span>
	  							</div>
	  							<div class="views-field views-field-body">
	  								<div class="field-content">
	  									<p><span style="font-size:16px">To learn what a difference Optim Spine can make in your life, <a href="/content/harold-rogers">listen</a> to patients like Harold Rogers tell their own stories.</span></p>
	 								</div>
	 							</div>
	  							<div class="views-field views-field-views-conditional">
	  								<span class="field-content"></span>
	  							</div>
	  						</div>
	    				</div>
					</div>
				</div>
			</div>
    	</header>
	</div>
	<main id="main" role="main">
        <h1 class="title" id="page-title">Patient Testimonials</h1>
        <div id="block-system-main" class="block block-system">
  			<div class="content">
    			<div class="view view-patient-testimonials view-id-patient_testimonials view-display-id-page_1 view-dom-id-70fede6b7a180345048a7837bc40ada1 jquery-once-4-processed">
      				<div class="view-content">
        				<div class="views-row views-row-1 views-row-odd views-row-first">
  							<div class="views-field views-field-views-conditional">
  								<span class="field-content">
  									<a href="/content/pete-blocker">
  										<div class="pt-video">
  											<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0007_PeteBlocker.jpg?itok=7sdrmTTh" width="340" height="181" alt="">
  											<div class="pt-video-overlay"></div>
  										</div>
  									</a>
  								</span>
  							</div>
  							<div class="views-field views-field-type">
  								<span class="field-content">Patient Testimonial</span>
  							</div>
  							<div class="views-field views-field-title">
	  							<span class="field-content">
	  								<a href="/content/pete-blocker">Pete Blocker</a>
	  							</span>
  							</div>
  							<div class="views-field views-field-nothing-3">
  								<span class="field-content">
  									<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/pete-blocker" title="Watch Pete Blocker">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/182" title="Share Pete Blocker"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-2 views-row-even">
				  			<div class="views-field views-field-views-conditional">
				  				<span class="field-content">
				  					<a href="patient-testimonial/203">
				  						<div class="pt-video">
				  							<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0014_HarveyHancock-Patient_0.jpg?itok=xkro9Fkl" width="340" height="181" alt="">
				  							<div class="pt-video-overlay-watch"></div>
				  						</div>
				  					</a>
				  				</span>
				  			</div>
				  			<div class="views-field views-field-type">
				  				<span class="field-content">Patient Testimonial</span>
				  			</div>
				  			<div class="views-field views-field-title">
				  				<span class="field-content">
				  					<a href="/content/harvey-hancock">Harvey Hancock</a>
				  				</span>
				  			</div>
				  			<div class="views-field views-field-nothing-3">
				  				<span class="field-content">
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-watch">
												<a href="/patient-testimonial/203"><i class="icon-play"></i> Watch</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/203" title="Share Harvey Hancock"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-3 views-row-odd">
							<div class="views-field views-field-views-conditional">
								<span class="field-content">
									<a href="/content/frank-hook">
										<div class="pt-video">
											<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0012_FrankHook-Patient_0.jpg?itok=S-aqt5TD" width="340" height="181" alt="">
											<div class="pt-video-overlay"></div>
										</div>
									</a>
								</span>
							</div>
	  						<div class="views-field views-field-type">
	  							<span class="field-content">Patient Testimonial</span>
	  						</div>
	  						<div class="views-field views-field-title">
	  							<span class="field-content">
	  								<a href="/content/frank-hook">Frank Hook</a>
	  							</span>
	  						</div>
	  						<div class="views-field views-field-nothing-3">
	  							<span class="field-content">
	  								<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/frank-hook" title="Watch Frank Hook">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/179" title="Share Frank Hook"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-4 views-row-even">
	  						<div class="views-field views-field-views-conditional">
	  							<span class="field-content">
	  								<a href="/content/maria-hughes">
	  									<div class="pt-video">
	  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0004_MariaHughes.jpg?itok=c6UbcbvQ" width="340" height="181" alt="">
	  										<div class="pt-video-overlay"></div>
	  									</div>
	  								</a>
	  							</span>
	  						</div>
	  						<div class="views-field views-field-type">
	  							<span class="field-content">Patient Testimonial</span>
	  						</div>
	  						<div class="views-field views-field-title">
	  							<span class="field-content">
	  								<a href="/content/maria-hughes">Maria Hughes</a>
	  							</span>
	  						</div>
	  						<div class="views-field views-field-nothing-3">
	  							<span class="field-content">
	  								<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/maria-hughes" title="Watch Maria Hughes">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/186" title="Share Maria Hughes"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-5 views-row-odd">
	  						<div class="views-field views-field-views-conditional">
	  							<span class="field-content">
	  								<a href="/content/june-jones">
	  									<div class="pt-video">
	  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0003_JuneJones.jpg?itok=5ifIw0kP" width="340" height="181" alt="">
	  										<div class="pt-video-overlay"></div>
	  									</div>
	  								</a>
	  							</span>
	  						</div>
	  						<div class="views-field views-field-type">
	  							<span class="field-content">Patient Testimonial</span>
	  						</div>
	  						<div class="views-field views-field-title">
	  							<span class="field-content">
	  								<a href="/content/june-jones">June Jones</a>
	  							</span>
	  						</div>
	  						<div class="views-field views-field-nothing-3">
	  							<span class="field-content">
	  								<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/june-jones" title="Watch June Jones">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/181" title="Share June Jones"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-6 views-row-even">
					  		<div class="views-field views-field-views-conditional">
					  			<span class="field-content">
					  				<a href="/content/chris-mckendree">
					  					<div class="pt-video">
					  						<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0000_ChrisMcKendree.jpg?itok=3cPw8q-0" width="340" height="181" alt="">
					  						<div class="pt-video-overlay"></div>
					  					</div>
					  				</a>
					  			</span>
					  		</div>
					  		<div class="views-field views-field-type">
					  			<span class="field-content">Patient Testimonial</span>
					  		</div>
					  		<div class="views-field views-field-title">
					  			<span class="field-content">
					  				<a href="/content/chris-mckendree">Chris McKendree</a>
					  			</span>
					  		</div>
					  		<div class="views-field views-field-nothing-3">
					  			<span class="field-content">
					  				<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/chris-mckendree" title="Watch Chris McKendree">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/178" title="Share Chris McKendree"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-7 views-row-odd">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/patricia-mclamore">
						  				<div class="pt-video">
						  					<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0006_PatriciaMcLamore.jpg?itok=JXBcFRaF" width="340" height="181" alt="">
						  					<div class="pt-video-overlay"></div>
						  				</div>
						  			</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-type">
						  		<span class="field-content">Patient Testimonial</span>
						  	</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/patricia-mclamore">Patricia McLamore</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-nothing-3">
						  		<span class="field-content">
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/patricia-mclamore" title="Watch Patricia McLamore">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/185" title="Share Patricia McLamore"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-8 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/skip-milton">
						  				<div class="pt-video">
						  					<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0008_SkipMilton.jpg?itok=1myifdcR" width="340" height="181" alt="">
						  					<div class="pt-video-overlay"></div>
						  				</div>
						  			</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-type">
						  		<span class="field-content">Patient Testimonial</span>
						  	</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/skip-milton">Skip Milton</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-nothing-3">
						  		<span class="field-content">
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/skip-milton" title="Watch Skip Milton">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/183" title="Share Skip Milton"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-9 views-row-odd">
	  						<div class="views-field views-field-views-conditional">
	  							<span class="field-content">
	  								<a href="/content/maureen-ray">
	  									<div class="pt-video">
	  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0005_MaureenRay.jpg?itok=PP1voc9u" width="340" height="181" alt="">
	  										<div class="pt-video-overlay"></div>
	  									</div>
	  								</a>
	  							</span>
	  						</div>
						  	<div class="views-field views-field-type">
						  		<span class="field-content">Patient Testimonial</span>
						  	</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/maureen-ray">Maureen Ray</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-nothing-3">
						  		<span class="field-content">
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/maureen-ray" title="Watch Maureen Ray">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/184" title="Share Maureen Ray"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-10 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/harold-rogers">
						  				<div class="pt-video">
						  					<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0013_HaroldRogers-Patient_0.jpg?itok=uhXikRvO" width="340" height="181" alt="">
						  					<div class="pt-video-overlay"></div>
						  				</div>
						  			</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-type">
						  		<span class="field-content">Patient Testimonial</span>
						  	</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/harold-rogers">Harold Rogers</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-nothing-3">
						  		<span class="field-content">
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/harold-rogers" title="Watch Harold Rogers">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/202" title="Share Harold Rogers"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-11 views-row-odd">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/daniel-shuman">
						  				<div class="pt-video">
						  					<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0010_DanielShuman-Patient.jpg?itok=8JpAtKjv" width="340" height="181" alt="">
						  					<div class="pt-video-overlay"></div>
						  				</div>
						  			</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-type">
						  		<span class="field-content">Patient Testimonial</span>
						  	</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/daniel-shuman">Daniel Shuman</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-nothing-3">
						  		<span class="field-content">
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/daniel-shuman" title="Watch Daniel Shuman">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/177" title="Share Daniel Shuman"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	  					<div class="views-row views-row-12 views-row-even views-row-last">
	  						<div class="views-field views-field-views-conditional">
	  							<span class="field-content">
	  								<a href="/content/jack-waterlander">
	  									<div class="pt-video">
	  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/optim_nomalization_0002_JackWaterlander.jpg?itok=nRGujQgU" width="340" height="181" alt="">
	  										<div class="pt-video-overlay"></div>
	  									</div>
	  								</a>
	  							</span>
	  						</div>
	  						<div class="views-field views-field-type">
	  							<span class="field-content">Patient Testimonial</span>
	  						</div>
	  						<div class="views-field views-field-title">
	  							<span class="field-content">
	  								<a href="/content/jack-waterlander">Jack Waterlander</a>
	  							</span>
	  						</div>
	  						<div class="views-field views-field-nothing-3">
	  							<span class="field-content">
	  								<div class="card_buttons">
										<div class="card_button card_download">
											<div class="pt-read">
												<a href="/content/jack-waterlander" title="Watch Jack Waterlander">Read</a>
											</div>
										</div>
										<div class="card_button card_share">
											<a href="/share/180" title="Share Jack Waterlander"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
	    			</div>
				</div>
			</div>
		</div>
		{{> footer}}
  	</main>
</div>