<div id="block-panels-mini-right-sidebar" class="block block-panels-mini">


  <div class="content">
    <div class="panel-display panel-1col clearfix" id="mini-panel-right_sidebar">
  <div class="panel-panel panel-col">
    <div><div class="panel-pane pane-custom pane-3">



  <div class="pane-content">
     <p><a class="mobile_close"></a></p>
   </div>


  </div>

<div class="panel-pane pane-block pane-views-offer-block offer-block">



  <div class="pane-content">
    <div class="view view-offer view-id-offer view-display-id-block view-dom-id-c6ff63b8173f191c6f6d4901f072e53d">



      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

  <div class="views-field views-field-title">        <h2 class="field-content">FREE MRI REVIEW</h2>  </div>
  <div class="views-field views-field-body">        <div class="field-content"> <p>Send us your MRI using the file uploader below so we can&nbsp;evaluate it ahead of your first visit. If your&nbsp;file is on a removable CD or&nbsp;thumbdrive, insert or connect it to upload your MRI directly from your media source.</p>
 </div>  </div>
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/webform/free-mri-review">CLICK HERE</a></span>  </div>  </div>
    </div>






</div>  </div>


  </div>

<div class="panel-pane pane-custom pane-4 appointment-block" style="margin-top: 22em;">



  <div class="pane-content">
     <p><!-- Go to www.addthis.com/dashboard to customize your tools --></p>
<p class="right_top">Is neck or back pain getting in the way of your life?</p>
<p class="right_bottom">We can help you get back to you.</p>
<p><a class="appointment_button" href="/eform/submit/appointment"><i class="icon-calendar"></i> Request Appointment</a></p>
   </div>


  </div>

<div class="panel-pane pane-block pane-system-main-menu">



  <div class="pane-content">
    <ul class="menu"><li class="first leaf"><a href="/locations" title="">Locations</a></li>
<li class="leaf"><a href="/team-optim" title="">Team Optim</a></li>
<li class="last leaf"><a href="/tools-tips" title="">Tools &amp; Tips</a></li>
</ul>  </div>


  </div>

<div class="panel-pane pane-custom pane-5 pane-share">



  <div class="pane-content">
    <p><a class="bs_modal share jquery-once-1-processed jquery-once-3-processed" data-target=".optimShare" data-toggle="modal" href=""><i class="icon-share-right"></i> SHARE</a></p>  </div>


  </div>

<div class="panel-pane pane-custom pane-6 pane-contact">



  <div class="pane-content">
    <p><a href="/contact-optim"><i class="icon-envelope"></i> Contact</a></p>  </div>


  </div>

<div class="panel-pane pane-custom pane-7 pane-call">



  <div class="pane-content">
     <p><i class="icon-telephone"></i> <a href="tel:1-855.600.0933">1-855.600.0933</a></p>
   </div>


  </div>

<div class="panel-pane pane-block pane-views-offer-offer-mobile mobile-offer-block">



  <div class="pane-content">
    <div class="view view-offer view-id-offer view-display-id-offer_mobile view-dom-id-4c3e53ced19be51ac3977f44982dd2ca">



      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

  <div class="views-field views-field-title">        <h2 class="field-content">FREE MRI REVIEW</h2>  </div>
  <div class="views-field views-field-view-node">        <span class="field-content"><a href="/webform/free-mri-review">TAP HERE</a></span>  </div>  </div>
    </div>






</div>  </div>


  </div>
</div>
  </div>
</div>
  </div>
</div>