<div class="html not-front not-logged-in no-sidebars page-team-optim team-optim">
    <main id="main" role="main">
        <h1 class="title" id="page-title">Team Optim</h1>
        <div id="block-views-87efc0561c7a166ac1e85214691dcc6a" class="block block-views">
            <div class="content">
                <div class="view view-team-optim-featured-content view-id-team_optim_featured_content view-display-id-block_1 header-queue view-dom-id-9dbd3d64950491981d788a338360f465">
                    <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                            <div class="views-field views-field-body">
                                <div class="field-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="view view-team-optim view-id-team_optim view-display-id-page_1 view-dom-id-1298f6a50b4d078f9084769dcfbecc8d">
                    <div class="view-filters">
                        <form class="ctools-auto-submit-full-form" action="/team-optim" method="get" id="views-exposed-form-team-optim-page-1" accept-charset="UTF-8">
                            <div>
                                <div class="views-exposed-form">
                                    <div class="views-exposed-widgets clearfix">
                                        <div id="edit-search-wrapper" class="views-exposed-widget views-widget-filter-combine">
                                            {{!-- <label for="edit-search">FILTER BY DOCTOR’S NAME OR LOCATION          </label> --}}
                                            <div class="views-widget">
                                                <div class="form-item form-type-textfield form-item-search">
                                                    <input type="text" id="edit-search" name="search" value="" size="30" maxlength="128" class="form-text" placeholder="FILTER BY DOCTOR’S NAME OR LOCATION"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-exposed-widget views-submit-button">
                                            <input class="ctools-use-ajax ctools-auto-submit-click form-submit" type="submit" id="edit-submit-team-optim" name="" value="Apply" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/101/info">
                                        <img src="../images/team-optim/optim_nomalization_0009_Considine_0.png" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Radiology/Imaging</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/101/info">Jack Considine</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">MD</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/101/info" title="View Jack Considine"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-2 views-row-even">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/110/info">
                                        <img src="../images/team-optim/optim_nomalization_0011_Fife.png?itok=UUfVqmCq" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Physical Therapy</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/110/info">Stuart Fife</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">DPT-OCS-MTC-CSCS</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/110/info" title="View Stuart Fife"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-3 views-row-odd">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/104/info">
                                        <img src="../images/team-optim/optim_nomalization_0015_Hegarty.png?itok=waphkBSg" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Interventional Pain Management</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/104/info">Markus Niederwanger</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">MD-FIPP</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/104/info" title="View Joseph Hegarty"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-2 views-row-even">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/110/info">
                                        <img src="../images/team-optim/optim_nomalization_0011_Fife.png?itok=UUfVqmCq" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Physical Therapy</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/110/info">Stuart Fife</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">DPT-OCS-MTC-CSCS</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/110/info" title="View Stuart Fife"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-3 views-row-odd">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/104/info">
                                        <img src="../images/team-optim/optim_nomalization_0015_Hegarty.png?itok=waphkBSg" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Interventional Pain Management</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/104/info">Joseph Hegarty</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">MD-FIPP</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/104/info" title="View Joseph Hegarty"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-2 views-row-even">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/110/info">
                                        <img src="../images/team-optim/optim_nomalization_0011_Fife.png?itok=UUfVqmCq" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Physical Therapy</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/110/info">Stuart Fife</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">DPT-OCS-MTC-CSCS</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/110/info" title="View Stuart Fife"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-3 views-row-odd">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/104/info">
                                        <img src="../images/team-optim/optim_nomalization_0015_Hegarty.png?itok=waphkBSg" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Interventional Pain Management</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/104/info">Joseph Hegarty</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">MD-FIPP</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/104/info" title="View Joseph Hegarty"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-2 views-row-even">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/110/info">
                                        <img src="../images/team-optim/optim_nomalization_0011_Fife.png?itok=UUfVqmCq" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Physical Therapy</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/110/info">Stuart Fife</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">DPT-OCS-MTC-CSCS</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/110/info" title="View Stuart Fife"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-3 views-row-odd">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/104/info">
                                        <img src="../images/team-optim/optim_nomalization_0015_Hegarty.png?itok=waphkBSg" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Interventional Pain Management</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/104/info">Joseph Hegarty</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">MD-FIPP</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/104/info" title="View Joseph Hegarty"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-2 views-row-even">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/110/info">
                                        <img src="../images/team-optim/optim_nomalization_0011_Fife.png?itok=UUfVqmCq" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Physical Therapy</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/110/info">Stuart Fife</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">DPT-OCS-MTC-CSCS</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/110/info" title="View Stuart Fife"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-3 views-row-odd">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/104/info">
                                        <img src="../images/team-optim/optim_nomalization_0015_Hegarty.png?itok=waphkBSg" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Interventional Pain Management</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/104/info">Joseph Hegarty</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">MD-FIPP</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/104/info" title="View Joseph Hegarty"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-2 views-row-even">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/110/info">
                                        <img src="../images/team-optim/optim_nomalization_0011_Fife.png?itok=UUfVqmCq" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Physical Therapy</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/110/info">Stuart Fife</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">DPT-OCS-MTC-CSCS</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/110/info" title="View Stuart Fife"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="views-row views-row-3 views-row-odd">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="/team/104/info">
                                        <img src="../images/team-optim/optim_nomalization_0015_Hegarty.png?itok=waphkBSg" width="340" height="180" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-field-speciality">
                                <div class="field-content">Interventional Pain Management</div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content">
                                    <a href="/team/104/info">Joseph Hegarty</a>
                                </span>
                            </div>
                            <div class="views-field views-field-field-degree">
                                <div class="field-content">MD-FIPP</div>
                            </div>
                            <span>
                                <div class="team-view">
                                    <a href="/team/104/info" title="View Joseph Hegarty"><i class="icon-eye"></i> View</a>
                                </div>
                            </span>
                        </div>
                        <div class="view-footer">
                            <a href='/admin/content/sort/staff'>Sort Team Optim<a>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </main>
</div>
