<div class="html not-front not-logged-in no-sidebars page-tools-tips tools-tips">
	<main id="main" role="main">
    	<h1 class="title" id="page-title">Tools &amp; Tips</h1>
        <div id="block-views-a217829e7f134cdbf21619633975b278" class="block block-views">
  			<div class="content">
    			<div class="view view-tools-tips-featured-content view-id-tools_tips_featured_content view-display-id-block_1 header-queue view-dom-id-8161a81c8e4814481588aa4724798f58">
      				<div class="view-content">
        				<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
  							<div class="views-field views-field-body">
  								<div class="field-content">
  									<p><span style="font-size:16px">Consider&nbsp;Optim your lifetime partner in maintaining excellent spine health. To assist, we created 'Tools &amp; Tips' a&nbsp;mix of spine health info and&nbsp;tools including helpful&nbsp;pre-op /&nbsp;post-op instructions, spine-related health tips and&nbsp;a spine health Glossary.&nbsp;</span></p>
 								</div>
 							</div>
 						</div>
    				</div>
				</div>
			</div>
		</div>
		<div id="block-system-main" class="block block-system">
  			<div class="content">
    			<div class="view view-tools-tips view-id-tools_tips view-display-id-page_1 view-dom-id-3b9b4ba17ad604c0849fbd3f01e7e2f5 jquery-once-4-processed">
      				<div class="view-filters">
      					<form class="ctools-auto-submit-full-form ctools-auto-submit-processed jquery-once-4-processed" action="/tools-tips" method="get" id="views-exposed-form-tools-tips-page-1" accept-charset="UTF-8" novalidate="novalidate">
      						<div>
      							<div class="views-exposed-form">
  									<div class="views-exposed-widgets clearfix">
          								<div id="edit-title-wrapper" class="views-exposed-widget views-widget-filter-title">
                  							<label for="edit-title" style="display: none;">SEARCH TOOLS &amp; TIPS </label>
                        					<div class="views-widget">
          										<div class="form-item form-type-textfield form-item-title">
 													<input type="text" id="edit-title" name="title" value="" size="30" maxlength="128" class="form-text ctools-auto-submit-processed" placeholder="SEARCH TOOLS &amp; TIPS">
												</div>
       		 								</div>
              							</div>
                    					<div class="views-exposed-widget views-submit-button">
      										<input class="ctools-use-ajax ctools-auto-submit-click form-submit" type="submit" id="edit-submit-tools-tips" name="" value="Apply">
      									</div>
      								</div>
								</div>
							</div>
						</form>
					</div>
      			<div class="view-content">
        			<div class="views-row views-row-1 views-row-odd views-row-first">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/content/smoking-and-osteoporosis">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Smoking.jpg?itok=58Q2Hh1n" width="340" height="181" alt="">
  								</a>
  								<div class"play-overlay”=""></div>
  							</span>
  						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/content/smoking-and-osteoporosis">Smoking and Osteoporosis</a>
  							</span>
  						</div>
  						<div class="views-field views-field-views-conditional-2">
  							<span class="field-content"></span>
  						</div>
  						<div class="views-field views-field-views-conditional-3">
  							<span class="field-content">
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Optim%20Tools%20Smoking-and-Osteoporosis.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/173" title="Share Smoking and Osteoporosis"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-2 views-row-even">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/drink-less-stronger-bones">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Alcohol.jpg?itok=vY-t7VS8" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/drink-less-stronger-bones">Drink Less for Stronger Bones</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Optim%20Tips%20Drink-Less-for-Stronger-Bones.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/172" title="Share Drink Less for Stronger Bones"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-3 views-row-odd">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/procedure-tips-pain-management">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip_0.jpg?itok=PsxBAoTX" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/procedure-tips-pain-management">Procedure Tips: Pain Management</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Niederwanger_PrePostProcedure_1.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/174" title="Share Procedure Tips: Pain Management"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-4 views-row-even">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/content/surgery-tips-general-spine-surgery">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip.jpg?itok=4a__ikT_" width="340" height="181" alt="">
  								</a>
  								<div class"play-overlay”=""></div>
  							</span>
  						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/content/surgery-tips-general-spine-surgery">Surgery Tips: General Spine Surgery</a>
  							</span>
  						</div>
  						<div class="views-field views-field-views-conditional-2">
  							<span class="field-content"></span>
  						</div>
  						<div class="views-field views-field-views-conditional-3">
  							<span class="field-content">
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/McCormick_PrePostSurgery_0.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/175" title="Share Surgery Tips: General Spine Surgery"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-5 views-row-odd">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/content/anatomy-spine-0">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Anatomy_0.jpg?itok=KxUFVcdw" width="340" height="181" alt="">
  								</a>
  								<div class"play-overlay”=""></div>
  							</span>
  						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/content/anatomy-spine-0">Anatomy of the Spine</a>
  							</span>
  						</div>
  						<div class="views-field views-field-views-conditional-2">
  							<span class="field-content"></span>
  						</div>
  						<div class="views-field views-field-views-conditional-3">
  							<span class="field-content">
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/SpineAnatomy_0.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/60" title="Share Anatomy of the Spine"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-6 views-row-even">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/content/spine-glossary">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Glossary.jpg?itok=rIVpOf65" width="340" height="181" alt="">
  								</a>
  								<div class"play-overlay”=""></div>
  							</span>
  						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/content/spine-glossary">Spine Glossary</a>
  							</span>
  						</div>
  						<div class="views-field views-field-views-conditional-2">
  							<span class="field-content"></span>
  						</div>
  						<div class="views-field views-field-views-conditional-3">
  							<span class="field-content">
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/00637-Glossary.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/66" title="Share Spine Glossary"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-7 views-row-odd">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-cervical-decompression">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip_5.jpg?itok=ue4pfNyw" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-cervical-decompression">Surgery Tips: Cervical Decompression</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Heiges_PrePostSurgery-CervicalDec.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/112" title="Share Surgery Tips: Cervical Decompression"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-8 views-row-even">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-lumbar-fusion">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip_2.jpg?itok=1-TMwYMN" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-lumbar-fusion">Surgery Tips: Lumbar Fusion</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Heiges_PrePostSurgery-LumbFusion.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/115" title="Share Surgery Tips: Lumbar Fusion"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-9 views-row-odd">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-spinal-cord-stimulator">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip_4.jpg?itok=aYtdCs9z" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-spinal-cord-stimulator">Surgery Tips: Spinal Cord Stimulator</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Heiges_PrePostSurgery-SpinalCordStim.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/117" title="Share Surgery Tips: Spinal Cord Stimulator"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-10 views-row-even">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-microdiscectomy">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip_3.jpg?itok=DhAuZna8" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-microdiscectomy">Surgery Tips: Microdiscectomy</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Heiges_PrePostSurgery-Microdisc.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/116" title="Share Surgery Tips: Microdiscectomy"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-11 views-row-odd">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-cervical-fusion">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip_6.jpg?itok=Jr76FOZx" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-cervical-fusion">Surgery Tips: Cervical Fusion</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Heiges_PrePostSurgery-CervicalFusion.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/120" title="Share Surgery Tips: Cervical Fusion"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-12 views-row-even views-row-last">
					  	<div class="views-field views-field-views-conditional">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-lumbar-decompression">
					  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/Tip_1.jpg?itok=Th3HQax4" width="340" height="181" alt="">
					  			</a>
					  			<div class"play-overlay”=""></div>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-title">
					  		<span class="field-content">
					  			<a href="/content/surgery-tips-lumbar-decompression">Surgery Tips: Lumbar Decompression</a>
					  		</span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-2">
					  		<span class="field-content"></span>
					  	</div>
					  	<div class="views-field views-field-views-conditional-3">
					  		<span class="field-content">
					  			<div class="card_buttons">
									<div class="card_button card_download">
										<a href="http://104.130.8.232/sites/default/files/tips/Heiges_PrePostSurgery-LumbDec.pdf" target="_blank"><i class="icon-text-doc"></i> Download</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/119" title="Share Surgery Tips: Lumbar Decompression"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
    			</div>
			</div>
		</div>
	</div>
	<div id="block-menu-menu-footer-menu" class="block block-menu">
  		<div class="content">
    		<ul class="menu">
    			<li class="first leaf">
    				<a href="/content/optim-spine" title="">About</a>
    			</li>
				<li class="last leaf">
					<a href="/patient-testimonials" title="">Patient Stories</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="block-panels-mini-mobile-footer" class="block block-panels-mini">
	  	<div class="content">
		    <div class="panel-display panel-1col clearfix" id="mini-panel-mobile_footer">
		  		<div class="panel-panel panel-col">
		    		<div>
		    			<div class="panel-pane pane-custom pane-2">
		  					<div class="pane-content">
		     					<div class="mobile_footer">
									<div class="mobile_footer_info">&nbsp;</div>
									<div class="mobile_footer_call">
										<div class="mobile_footer_call_top">Call us</div>
										<div class="mobile_footer_call_bot">1-855.600.0933</div>
									</div>
								</div>
		   					</div>
		  				</div>
					</div>
		  		</div>
			</div>
	  	</div>
	</div>
  	</main>
</div>