<div class="html not-front not-logged-in no-sidebars page-treatments treatments">
	<main id="main" role="main">
        <h1 class="title" id="page-title">Treatments</h1>
        <div id="block-views-e1489ee113436556ccda167580d06b76" class="block block-views">
  			<div class="content">
    			<div class="view view-treatments-featured-content view-id-treatments_featured_content view-display-id-block_1 header-queue view-dom-id-bb4dbfae9293bcc5237fb52e1755a8ff">
      				<div class="view-content">
        				<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
							<div class="views-field views-field-body">
								<div class="field-content">
									<p><span style="font-size:16px">Once we understand what’s causing your pain we can develop a treatment plan that’s designed just for you. Learn about the treatment options that we offer our patients or make an appointment so that we can get you back to you.</span></p>
 								</div>
 							</div>
 						</div>
    				</div>
				</div>
			</div>
		</div>
		<div id="block-system-main" class="block block-system">
  			<div class="content">
    			<div class="view view-treatments view-id-treatments view-display-id-page_1 view-dom-id-8ea4cc60d6b3ba9bcd6886a3faea3ef0">
      				<div class="view-content">
        				<div class="views-row views-row-1 views-row-odd views-row-first">
  							<div class="views-field views-field-views-conditional">
  								<span class="field-content">
  									<a href="/content/high-field-open-mri">
  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_22-High-field-Open-MRI.png?itok=wJUy9gHC" width="340" height="181" alt="" />
  									</a>
									<a class="play-overlay" href='/content/high-field-open-mri'></a>
								</span>
							</div>
  							<div class="views-field views-field-title">
  								<span class="field-content">
  									<a href="/content/high-field-open-mri">High-Field Open MRI</a>
  								</span>
  							</div>
  							<div class="views-field views-field-body">
  								<span class="field-content">Many of us are familiar with the long, closed tubes traditionally used for MRI (magnetic resonance...</span>
  							</div>
  							<div class="views-field views-field-view-node">
  								<span class="field-content">
  									<a href="/content/high-field-open-mri">Continue reading</a>
  								</span>
  							</div>
  							<div>
  								<span>
  									<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/40" title="Share High-Field Open MRI"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-2 views-row-even">
  							<div class="views-field views-field-views-conditional">
  								<span class="field-content">
  									<a href="/content/flouroscopy">
  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_24--Fluoroscopic-Piriformis-Injection_0.png?itok=yssu2zZT" width="340" height="181" alt="" />
  									</a>
									<a class="play-overlay" href='/content/flouroscopy'></a>
								</span>
							</div>
  							<div class="views-field views-field-title">
  								<span class="field-content">
  									<a href="/content/flouroscopy">Flouroscopy</a>
  								</span>
  							</div>
  							<div class="views-field views-field-body">
  								<span class="field-content">It has become increasingly common to use technology to simplify procedures and increase both the...</span>
  							</div>
  							<div class="views-field views-field-view-node">
  								<span class="field-content">
  									<a href="/content/flouroscopy">Continue reading</a>
  								</span>
  							</div>
  							<div>
  								<span>
  									<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/flouroscopy" title="Watch Flouroscopy"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/194" title="Share Flouroscopy"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-3 views-row-odd">
							<div class="views-field views-field-views-conditional">
								<span class="field-content">
									<a href="/content/interventional-pain-management">
										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_25-Interventional-Pain-Management.png?itok=0TwwLEMt" width="340" height="181" alt="" />
									</a>
									<a class="play-overlay" href='/content/interventional-pain-management'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/interventional-pain-management">Interventional Pain Management</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">Frequently both back and neck pain can be relieved with a range of non-invasive or non-surgical...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/interventional-pain-management">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_share full-width">
											<a href="/share/24" title="Share Interventional Pain Management"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-4 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/epidural-steroid-injections">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_18-Epidural-Steroid-Injections.png?itok=2M49GIS_" width="340" height="181" alt="" />
						  			</a>
									<a class="play-overlay" href='/content/epidural-steroid-injections'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content"><a href="/content/epidural-steroid-injections">Epidural Steroid Injections</a></span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">Our Interventional Pain Management specialists offer a range of treatments for your back pain...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/epidural-steroid-injections">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/epidural-steroid-injections" title="Watch Epidural Steroid Injections"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/46" title="Share Epidural Steroid Injections"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-5 views-row-odd">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/selective-cervical-nerve-root-block">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_05_SELECTIVE-CERVICAL-NERVE-ROOT-BLOCK.jpg?itok=tkmfZNlU" width="340" height="181" alt="" />
						  			</a>
									<a class="play-overlay" href='/content/selective-cervical-nerve-root-block'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/selective-cervical-nerve-root-block">Selective Cervical Nerve Root Block</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">A Selective Nerve Root Block (SNRB)&nbsp;is an injection of medication&nbsp;primarily used to...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/selective-cervical-nerve-root-block">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/selective-cervical-nerve-root-block" title="Watch Selective Cervical Nerve Root Block"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/142" title="Share Selective Cervical Nerve Root Block"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-6 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/lumbar-sympathetic-block">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_07_LUMBAR-SYMPATHETIC-BLOCK.jpg?itok=48B0ZhMU" width="340" height="181" alt="" />
						  			</a>
									<a class="play-overlay" href='/content/lumbar-sympathetic-block'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/lumbar-sympathetic-block">Lumbar Sympathetic Block</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">A Lumbar Sympathetic Block&nbsp;is an injection of local anesthetic into or around the&nbsp;...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/lumbar-sympathetic-block">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/lumbar-sympathetic-block" title="Watch Lumbar Sympathetic Block"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/140" title="Share Lumbar Sympathetic Block"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-7 views-row-odd">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/medial-branch-block">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_06_MEDIAL-BRANCH-BLOCK.jpg?itok=svHm8p_g" width="340" height="181" alt="" />
						  			</a>
									<a class="play-overlay" href='/content/medial-branch-block'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/medial-branch-block">Medial Branch Block</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">A Medial Branch Nerve Block is a procedure in which an anesthetic is injected near the small medial...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/medial-branch-block">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/medial-branch-block" title="Watch Medial Branch Block"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/141" title="Share Medial Branch Block"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-8 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/facet-joint-injections">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_04_FACET-JOINT-INJECTIONS.jpg?itok=gqNrKyTJ" width="340" height="181" alt="" />
						  			</a>
									<a class="play-overlay" href='/content/facet-joint-injections'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/facet-joint-injections">Facet Joint Injections</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">The Facet Joints are small joints where the vertebra meet on the back of the spine. Sometimes they...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/facet-joint-injections">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/facet-joint-injections" title="Watch Facet Joint Injections"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/143" title="Share Facet Joint Injections"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-9 views-row-odd">
  							<div class="views-field views-field-views-conditional">
  								<span class="field-content">
  									<a href="/content/thoracic-facet-radiofrequency-neurotomy">
  										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_09_THORACIC-FACET-RADIOFREQUENCY-NEUROTOMY.jpg?itok=py5PGJlI" width="340" height="181" alt="" />
  									</a>
									<a class="play-overlay" href='/content/thoracic-facet-radiofrequency-neurotomy'></a>
								</span>
							</div>
							<div class="views-field views-field-title">
								<span class="field-content">
									<a href="/content/thoracic-facet-radiofrequency-neurotomy">Thoracic Facet Radiofrequency Neurotomy</a>
								</span>
							</div>
							<div class="views-field views-field-body">
								<span class="field-content">Thoracic&nbsp;Facet Radiofrequency&nbsp;Neurotomy is a minimally-invasive procedure to reduce back...</span>
							</div>
							<div class="views-field views-field-view-node">
								<span class="field-content">
									<a href="/content/thoracic-facet-radiofrequency-neurotomy">Continue reading</a>
								</span>
							</div>
							<div>
								<span>
									<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/thoracic-facet-radiofrequency-neurotomy" title="Watch Thoracic Facet Radiofrequency Neurotomy"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">.
											<a href="/share/135" title="Share Thoracic Facet Radiofrequency Neurotomy"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-10 views-row-even">
							<div class="views-field views-field-views-conditional">
								<span class="field-content">
									<a href="/content/spinal-cord-stimulation">
										<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_14-Spinal-Cord-Stimulation.png?itok=GIbgntz0" width="340" height="181" alt="" />
									</a>
									<a class="play-overlay" href='/content/spinal-cord-stimulation'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/spinal-cord-stimulation">Spinal Cord Stimulation </a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">Spinal Cord Stimulation is an innovative treatment for patients suffering chronic back pain. During...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/spinal-cord-stimulation">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/spinal-cord-stimulation" title="Watch Spinal Cord Stimulation "><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/42" title="Share Spinal Cord Stimulation "><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-11 views-row-odd">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/sacroilliac-joint-injection">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_19-Sacroiliac-Joint-Injection.png?itok=rbBGb6rQ" width="340" height="181" alt="" />
						  			</a>
									<a class="play-overlay" href='/content/sacroilliac-joint-injection'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content"><a href="/content/sacroilliac-joint-injection">Sacroilliac Joint Injection</a></span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">We see many different manifestations of sacroiliac joint dysfunction&nbsp;caused by a range of...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/sacroilliac-joint-injection">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/sacroilliac-joint-injection" title="Watch Sacroilliac Joint Injection"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/33" title="Share Sacroilliac Joint Injection"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  						<div class="views-row views-row-12 views-row-even">
						  	<div class="views-field views-field-views-conditional">
						  		<span class="field-content">
						  			<a href="/content/lumbar-microdiscectomy">
						  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_15--Lumbar-Microdiscectomy.png?itok=DOyP8ATz" width="340" height="181" alt="" />
						  			</a>
									<a class="play-overlay" href='/content/lumbar-microdiscectomy'></a>
								</span>
							</div>
						  	<div class="views-field views-field-title">
						  		<span class="field-content">
						  			<a href="/content/lumbar-microdiscectomy">Lumbar Microdiscectomy</a>
						  		</span>
						  	</div>
						  	<div class="views-field views-field-body">
						  		<span class="field-content">Lumbar Microdiscectomy is one of the most common procedures we perform for patients with herniated...</span>
						  	</div>
						  	<div class="views-field views-field-view-node">
						  		<span class="field-content">
						  			<a href="/content/lumbar-microdiscectomy">Continue reading</a>
						  		</span>
						  	</div>
						  	<div>
						  		<span>
						  			<div class="card_buttons">
										<div class="card_button card_download">
											<a href="/content/lumbar-microdiscectomy" title="Watch Lumbar  Microdiscectomy"><i class="icon-play"></i> Watch</a>
										</div>
										<div class="card_button card_share">
											<a href="/share/22" title="Share Lumbar Microdiscectomy"><i class="icon-share-right"></i> Share</a>
										</div>
									</div>
								</span>
							</div>
						</div>
  							<div class="views-row views-row-13 views-row-odd">
						  		<div class="views-field views-field-views-conditional">
						  			<span class="field-content">
						  				<a href="/content/laminectomy">
						  					<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_08_LAMINECTOMY.jpg?itok=qVsQHVIF" width="340" height="181" alt="" />
						  				</a>
										<a class="play-overlay" href='/content/laminectomy'></a>
									</span>
								</div>
						  		<div class="views-field views-field-title">
						  			<span class="field-content">
						  				<a href="/content/laminectomy">Laminectomy</a>
						  			</span>
						  		</div>
						  		<div class="views-field views-field-body">
						  			<span class="field-content">Laminectomy is a procedure that removes painful pressure on the nerve roots of the spine&nbsp;by...</span>
						  		</div>
						  		<div class="views-field views-field-view-node">
						  			<span class="field-content">
						  				<a href="/content/laminectomy">Continue reading</a>
						  			</span>
						  		</div>
						  		<div>
						  			<span>
						  				<div class="card_buttons">
											<div class="card_button card_download">
												<a href="/content/laminectomy" title="Watch Laminectomy"><i class="icon-play"></i> Watch</a>
											</div>
											<div class="card_button card_share">
												<a href="/share/139" title="Share Laminectomy"><i class="icon-share-right"></i> Share</a>
											</div>
										</div>
									</span>
								</div>
							</div>
  							<div class="views-row views-row-14 views-row-even">
							  	<div class="views-field views-field-views-conditional">
							  		<span class="field-content">
							  			<a href="/content/lumbar-microdecompression">
							  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_02_LUMBAR-MICRODECOMPRESSION.jpg?itok=riwHBXty" width="340" height="181" alt="" />
							  			</a>
										<a class="play-overlay" href='/content/lumbar-microdecompression'></a>
									</span>
								</div>
							  	<div class="views-field views-field-title">
							  		<span class="field-content">
							  			<a href="/content/lumbar-microdecompression">Lumbar Microdecompression</a>
							  		</span>
							  	</div>
							  	<div class="views-field views-field-body">
							  		<span class="field-content">Lumbar Microdecompression is a minimally-invasive (MIS) procedure where bone or other tissue which...</span>
							  	</div>
							  	<div class="views-field views-field-view-node">
							  		<span class="field-content">
							  			<a href="/content/lumbar-microdecompression">Continue reading</a>
							  		</span>
							  	</div>
							  	<div>
							  		<span>
							  			<div class="card_buttons">
											<div class="card_button card_download">
												<a href="/content/lumbar-microdecompression" title="Watch Lumbar Microdecompression"><i class="icon-play"></i> Watch</a>
											</div>
											<div class="card_button card_share">
												<a href="/share/169" title="Share Lumbar Microdecompression"><i class="icon-share-right"></i> Share</a>
											</div>
										</div>
									</span>
								</div>
							</div>
  							<div class="views-row views-row-15 views-row-odd">
							  	<div class="views-field views-field-views-conditional">
							  		<span class="field-content">
							  			<a href="/content/lumbar-interbody-fusion">
							  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_25_LUMBAR-INTERBODY-FUSION.jpg?itok=XbCtq-f6" width="340" height="181" alt="" />
							  			</a>
										<a class="play-overlay" href='/content/lumbar-interbody-fusion'></a>
									</span>
								</div>
							  	<div class="views-field views-field-title">
							  		<span class="field-content">
							  			<a href="/content/lumbar-interbody-fusion">Lumbar Interbody Fusion</a>
							  		</span>
							  	</div>
							  	<div class="views-field views-field-body">
							  		<span class="field-content">A&nbsp;Lumbar Interbody Fusion (IBF) is a method of fusing the lower (lumbar) spine that involves...</span>
							  	</div>
							  	<div class="views-field views-field-view-node">
							  		<span class="field-content">
							  			<a href="/content/lumbar-interbody-fusion">Continue reading</a>
							  		</span>
							  	</div>
							  	<div>
							  		<span>
							  			<div class="card_buttons">
											<div class="card_button card_download">
												<a href="/content/lumbar-interbody-fusion" title="Watch Lumbar Interbody Fusion"><i class="icon-play"></i> Watch</a>
											</div>
											<div class="card_button card_share">
												<a href="/share/137" title="Share Lumbar Interbody Fusion"><i class="icon-share-right"></i> Share</a>
											</div>
										</div>
									</span>
								</div>
							</div>
  							<div class="views-row views-row-16 views-row-even">
							  	<div class="views-field views-field-views-conditional">
							  		<span class="field-content">
							  			<a href="/content/anterior-lumbar-interbody-fusion">
							  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/hero_14_ANTERIOR-LUMBAR-INTERBODY-FUSION.jpg?itok=5PRXRFh5" width="340" height="181" alt="" />
							  			</a>
										<a class="play-overlay" href='/content/anterior-lumbar-interbody-fusion'></a>
									</span>
								</div>
							  	<div class="views-field views-field-title">
							  		<span class="field-content">
							  			<a href="/content/anterior-lumbar-interbody-fusion">Anterior Lumbar Interbody Fusion</a>
							  		</span>
							  	</div>
							  	<div class="views-field views-field-body">
							  		<span class="field-content">Anterior Lumbar Interbody Fusion&nbsp;is the process of joining, or fusing,&nbsp;two vertebra in...</span>
							  	</div>
							  	<div class="views-field views-field-view-node">
							  		<span class="field-content">
							  			<a href="/content/anterior-lumbar-interbody-fusion">Continue reading</a>
							  		</span>
							  	</div>
							  	<div>
							  		<span>
							  			<div class="card_buttons">
											<div class="card_button card_download">
												<a href="/content/anterior-lumbar-interbody-fusion" title="Watch Anterior Lumbar Interbody Fusion"><i class="icon-play"></i> Watch</a>
											</div>
											<div class="card_button card_share">
												<a href="/share/129" title="Share Anterior Lumbar Interbody Fusion"><i class="icon-share-right"></i> Share</a>
											</div>
										</div>
									</span>
								</div>
							</div>
  							<div class="views-row views-row-17 views-row-odd">
							  	<div class="views-field views-field-views-conditional">
							  		<span class="field-content">
							  			<a href="/content/mas-posterior-lumbar-interbody-fusion-mas-plif">
							  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_20-MASS-Posterior-LIF.png?itok=fmh4KSUg" width="340" height="181" alt="" />
							  			</a>
										<a class="play-overlay" href='/content/mas-posterior-lumbar-interbody-fusion-mas-plif'></a>
									</span>
								</div>
							  	<div class="views-field views-field-title">
							  		<span class="field-content">
							  			<a href="/content/mas-posterior-lumbar-interbody-fusion-mas-plif">MAS Posterior Lumbar Interbody Fusion (MAS PLIF)</a>
							  		</span>
							  	</div>
							  	<div class="views-field views-field-body">
							  		<span class="field-content">Optim Spine practice leads, both locally and nationally. Our leadership is confirmed with the rapid...</span>
							  	</div>
							  	<div class="views-field views-field-view-node">
							  		<span class="field-content">
							  			<a href="/content/mas-posterior-lumbar-interbody-fusion-mas-plif">Continue reading</a>
							  		</span>
							  	</div>
							  	<div>
							  		<span>
							  			<div class="card_buttons">
											<div class="card_button card_share full-width">
												<a href="/share/39" title="Share MAS Posterior Lumbar Interbody Fusion (MAS PLIF)"><i class="icon-share-right"></i> Share</a>
											</div>
										</div>
									</span>
								</div>
							</div>
  							<div class="views-row views-row-18 views-row-even">
							  	<div class="views-field views-field-views-conditional">
							  		<span class="field-content">
							  			<a href="/content/minimally-invasive-surgery">
							  				<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_21-Minimally-Invasive-Surgery-%28MIS%29-.png?itok=ZnzSznuw" width="340" height="181" alt="" />
							  			</a>
										<a class="play-overlay" href='/content/minimally-invasive-surgery'></a>
									</span>
								</div>
							  	<div class="views-field views-field-title">
							  		<span class="field-content">
							  			<a href="/content/minimally-invasive-surgery">Minimally Invasive Surgery</a>
							  		</span>
							  	</div>
							  	<div class="views-field views-field-body">
							  		<span class="field-content">Minimally Invasive Surgeries (MIS) have advanced the treatment options for so many patients over...</span>
							  	</div>
							  	<div class="views-field views-field-view-node">
							  		<span class="field-content">
							  			<a href="/content/minimally-invasive-surgery">Continue reading</a>
							  		</span>
							  	</div>
							  	<div>
							  		<span>
							  			<div class="card_buttons">
											<div class="card_button card_download">
												<a href="/content/minimally-invasive-surgery" title="Watch Minimally Invasive Surgery"><i class="icon-play"></i> Watch</a>
											</div>
											<div class="card_button card_share">
												<a href="/share/36" title="Share Minimally Invasive Surgery"><i class="icon-share-right"></i> Share</a>
											</div>
										</div>
									</span>
								</div>
							</div>
  							<div class="views-row views-row-19 views-row-odd">
  								<div class="views-field views-field-views-conditional">
  									<span class="field-content">
  										<a href="/content/scoliosis-treatment">
  											<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_23-Treating-Scoliosis.png?itok=9Q8vd7xQ" width="340" height="181" alt="" />
  										</a>
										<a class="play-overlay" href='/content/scoliosis-treatment'></a>
									</span>
								</div>
							  	<div class="views-field views-field-title">
							  		<span class="field-content">
							  			<a href="/content/scoliosis-treatment">Scoliosis Treatment</a>
							  		</span>
							  	</div>
							  	<div class="views-field views-field-body">
							  		<span class="field-content">As we describe in our What Hurts section, the way&nbsp;we design a treatment plan for scoliosis is...</span>
							  	</div>
							  	<div class="views-field views-field-view-node">
							  		<span class="field-content">
							  			<a href="/content/scoliosis-treatment">Continue reading</a>
							  		</span>
							  	</div>
							  	<div>
							  		<span>
							  			<div class="card_buttons">
											<div class="card_button card_share full-width">
												<a href="/share/28" title="Share Scoliosis Treatment"><i class="icon-share-right"></i> Share</a>
											</div>
										</div>
									</span>
								</div>
							</div>
  								<div class="views-row views-row-20 views-row-even">
  									<div class="views-field views-field-views-conditional">
  										<span class="field-content">
  											<a href="/content/revision-surgery">
  												<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_13-Revision-Surgery.png?itok=zGOyMdZm" width="340" height="181" alt="" />
  											</a>
											<a class="play-overlay" href='/content/revision-surgery'></a>
										</span>
									</div>
									<div class="views-field views-field-title">
										<span class="field-content">
											<a href="/content/revision-surgery">Revision Surgery</a>
										</span>
									</div>
									<div class="views-field views-field-body">
										<span class="field-content">Revision surgery refers to techniques that address patients who have undergone previous operations...</span>
									</div>
									<div class="views-field views-field-view-node">
										<span class="field-content">
											<a href="/content/revision-surgery">Continue reading</a>
										</span>
									</div>
									<div>
										<span>
											<div class="card_buttons">
												<div class="card_button card_share full-width">
													<a href="/share/25" title="Share Revision Surgery"><i class="icon-share-right"></i> Share</a>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
  	</main>
</div>