<div class="html not-front not-logged-in no-sidebars page-what-hurts what-hurts">
	<main id="main" role="main">
    <h1 class="title" id="page-title">What Hurts?</h1>
    <div id="block-views-834f52d3266fd118b4a47081ac19423b" class="block block-views">
	  	<div class="content">
	    	<div class="view view-what-hurts-featured-content view-id-what_hurts_featured_content view-display-id-block_1 header-queue view-dom-id-ee6b846d16f470056c7312e0565d82b5">
	      		<div class="view-content">
	        		<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
	  					<div class="views-field views-field-body">
	  						<div class="field-content">
	  							<p>
	  								<span style="font-size:16px">Explore the conditions below to learn what might be causing your pain. Here you’ll find videos and information provided by our team of Spine specialists to help you find out more about each condition—and jumpstart the proccess of getting you back to you.</span>
	  							</p>
	 						</div>
	 					</div>
	 				</div>
	    		</div>
			</div>
		</div>
	</div>
	<div id="block-system-main" class="block block-system">
  		<div class="content">
    		<div class="view view-what-hurts view-id-what_hurts view-display-id-page_1 view-dom-id-2f6cb721b41e040140f019dee948b9a4">
            	<div class="view-filters">
      				<form class="ctools-auto-submit-full-form" action="/what-hurts" method="get" id="views-exposed-form-what-hurts-page-1" accept-charset="UTF-8">
	      				<div>
	      					<div class="views-exposed-form">
	  							<div class="views-exposed-widgets clearfix">
	          						<div id="edit-title-wrapper" class="views-exposed-widget views-widget-filter-title">
	                  					{{!-- <label for="edit-title">SEARCH</label> --}}
	                       				<div class="views-widget">
	          								<div class="form-item form-type-textfield form-item-title">
	 											<input type="text" id="edit-title" name="title" value="" size="30" maxlength="128" class="form-text" placeholder="SEARCH" />
											</div>
	        							</div>
	              					</div>
	                    			<div class="views-exposed-widget views-submit-button">
	      								<input class="ctools-use-ajax ctools-auto-submit-click form-submit" type="submit" id="edit-submit-what-hurts" name="" value="Apply" />
	      							</div>
	      						</div>
							</div>
						</div>
					</form>
				</div>
      			<div class="view-content">
        			<div class="views-row views-row-odd views-row-first">
						<div class="views-field views-field-views-conditional">
							<span class="field-content">
								<a href="#" data-toggle="modal" data-target="#myModal">
									<img src="../images/what-hurts-component/th_02-Lower-back-pain.png" width="340" height="181" alt="" />
								</a>
								<a class="play-overlay" href='#' data-toggle="modal" data-target="#myModal"></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="#" data-toggle="modal" data-target="#myModal">Lower Back Pain</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">At some point in our lives almost everyone will experience back or neck pain, occasionally nagging...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="#" data-toggle="modal" data-target="#myModal">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="#" data-toggle="modal" data-target="#myModal" title="Watch Lower Back Pain"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/41" title="Share Lower Back Pain"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-even">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_05-Degenerative-Spine.png?itok=JAYFXPnW" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/degenerative-disc'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Degenerative Disc</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">As Optim neurosurgeon Timothy&nbsp;Phillips MD describes it, age, activities and lifestyle all...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/degenerative-disc" title="Watch Degenerative Disc"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/48" title="Share Degenerative Disc"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-odd">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">
  									<img src="../images/what-hurts-component/th_12-Arthritis-of-the-spine.png" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/arthritis-spine'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Arthritis in the Spine</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">Arthritis is inflammation of joints and occurs when cartilage between bones breaks down and can...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/arthritis-spine" title="Watch Arthritis in the Spine"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/45" title="Share Arthritis in the Spine"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
					<div class="views-row views-row-even">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_05-Degenerative-Spine.png?itok=JAYFXPnW" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/degenerative-disc'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Degenerative Disc</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">As Optim neurosurgeon Timothy&nbsp;Phillips MD describes it, age, activities and lifestyle all...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/degenerative-disc" title="Watch Degenerative Disc"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/48" title="Share Degenerative Disc"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-odd">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">
  									<img src="../images/what-hurts-component/th_12-Arthritis-of-the-spine.png" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/arthritis-spine'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Arthritis in the Spine</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">Arthritis is inflammation of joints and occurs when cartilage between bones breaks down and can...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/arthritis-spine" title="Watch Arthritis in the Spine"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/45" title="Share Arthritis in the Spine"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
					<div class="views-row views-row-even">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_05-Degenerative-Spine.png?itok=JAYFXPnW" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/degenerative-disc'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Degenerative Disc</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">As Optim neurosurgeon Timothy&nbsp;Phillips MD describes it, age, activities and lifestyle all...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/degenerative-disc" title="Watch Degenerative Disc"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/48" title="Share Degenerative Disc"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-odd">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">
  									<img src="../images/what-hurts-component/th_12-Arthritis-of-the-spine.png" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/arthritis-spine'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Arthritis in the Spine</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">Arthritis is inflammation of joints and occurs when cartilage between bones breaks down and can...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/arthritis-spine" title="Watch Arthritis in the Spine"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/45" title="Share Arthritis in the Spine"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
					<div class="views-row views-row-even">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_05-Degenerative-Spine.png?itok=JAYFXPnW" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/degenerative-disc'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Degenerative Disc</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">As Optim neurosurgeon Timothy&nbsp;Phillips MD describes it, age, activities and lifestyle all...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/degenerative-disc" title="Watch Degenerative Disc"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/48" title="Share Degenerative Disc"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-odd">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">
  									<img src="../images/what-hurts-component/th_12-Arthritis-of-the-spine.png" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/arthritis-spine'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Arthritis in the Spine</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">Arthritis is inflammation of joints and occurs when cartilage between bones breaks down and can...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/arthritis-spine" title="Watch Arthritis in the Spine"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/45" title="Share Arthritis in the Spine"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
					<div class="views-row views-row-even">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">
  									<img src="http://104.130.8.232/sites/default/files/styles/cards__340x181_/public/th_05-Degenerative-Spine.png?itok=JAYFXPnW" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/degenerative-disc'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Degenerative Disc</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">As Optim neurosurgeon Timothy&nbsp;Phillips MD describes it, age, activities and lifestyle all...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/degenerative-disc">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/degenerative-disc" title="Watch Degenerative Disc"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/48" title="Share Degenerative Disc"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
  					<div class="views-row views-row-odd">
  						<div class="views-field views-field-views-conditional">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">
  									<img src="../images/what-hurts-component/th_12-Arthritis-of-the-spine.png" width="340" height="181" alt="" />
  								</a>
								<a class="play-overlay" href='/condition/arthritis-spine'></a>
							</span>
						</div>
  						<div class="views-field views-field-title">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Arthritis in the Spine</a>
  							</span>
  						</div>
  						<div class="views-field views-field-body">
  							<span class="field-content">Arthritis is inflammation of joints and occurs when cartilage between bones breaks down and can...</span>
  						</div>
  						<div class="views-field views-field-view-node">
  							<span class="field-content">
  								<a href="/condition/arthritis-spine">Continue reading</a>
  							</span>
  						</div>
  						<div>
  							<span>
  								<div class="card_buttons">
									<div class="card_button card_download">
										<a href="/condition/arthritis-spine" title="Watch Arthritis in the Spine"><i class="icon-play"></i> Watch</a>
									</div>
									<div class="card_button card_share">
										<a href="/share/45" title="Share Arthritis in the Spine"><i class="icon-share-right"></i> Share</a>
									</div>
								</div>
							</span>
						</div>
					</div>
					{{> footer}}
				</div>
			</div>
		</div>
  	</main>
</div>
